[2017-11-29 09:23] #298 closed

[2017-11-29 09:25] julienrf commented on #290
This ticket has been mostly solved by #305 but some performance issues remain, therefore I’m not closing this ticket yet.

[2017-11-29 23:52] xeno-by commented on #290
Is there more detailed information on what performance issues still remain? Is there a publicly available graph of benchmarks like the one provided by scala/compiler-benchmark?

[2017-11-30 08:40] julienrf commented on #290
No, currently we have no public infrastructure for that. I manually run a subset of the benchmarks on a dedicated machine (even running a subset takes about 24 hours). We use Oracle’s JVM 1.8.0_121. Here are the issues I’ve observed on `Vector`:

---

![access_init](https://user-images.githubusercontent.com/332812/33420421-c3aa1bb8-d5ae-11e7-9cd7-d241bae2b80a.png)

Lower is better, the yellow line

[2017-11-30 14:25] SethTisue opened #308 "StrawmanTest.mainTest failing in Scala 2.13.0-M3"
[code]

details at https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/856/consoleFull

doesn't seem to be intermittent (failed in both runs last night)

[2017-11-30 14:27] SethTisue commented on #308
or, hmm, maybe it is intermittent, there is a run currently in progress where collection-strawman already went green: https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/857/consoleFull

we'll see how the next few runs go

[2017-11-30 15:54] julienrf commented on #308
Did you change something about the evaluation of by-name right-associative operators?

[2017-11-30 15:56] julienrf commented on #308
Yeah now I remember that one: https://github.com/scala/scala/pull/5969

But the test should _always_ fail with the new evaluation model.

[2017-11-30 17:28] SethTisue commented on #308
I failed to notice that run 857 was manually triggered by Miles against a different 2.13 build.

So yes, always failing.

[2017-12-06 22:22] joroKr21 opened #310 "Consider adding dedupe to Seq"
Is there place for a `Seq.dedupe` method in the new collections library?

It's similar to `distinct` but removes only consecutive duplicates. I find myself needing this from time to time. For reference, Clojure has it: https://clojuredocs.org/clojure.core/dedupe.

[2017-12-07 09:28] julienrf opened #311 "Update user documentation"
I create the issue here but the work will happen there: http://docs.scala-lang.org/overviews/collections/introduction.html

[2017-12-07 09:30] julienrf opened #312 "Law-test collections implemented in contrib"
We should reuse the property-based tests written in the `scalacheck` sub-project. We will have to adapt the build a bit because it is currently not cross-compatible with dotty and Scala.js.

[2017-12-07 09:53] julienrf opened #313 "Add a rule checking that existing user code don’t compare Iterables"
Iterables are not comparable anymore. We should detect when such comparison happen in existing code bases and emit a warning.

[2017-12-07 11:03] julienrf commented on #308
Hey @SethTisue! What should we do about that? Is this blocking you?

[2017-12-10 03:29] marcelocenerine commented on #313
@julienrf , could you clarify a bit more?

[2017-12-10 13:09] julienrf commented on #313
I thought that in the current collections we had overridden `equals` in `Iterable` to compare the collection elements, but I just checked and it’s not the case. So, what we do with equality in the strawman and in the current collection is the same.

[2017-12-10 13:09] #313 closed

[2017-12-11 21:41] SethTisue commented on #306
I'll find some other windmill to tilt at :-)

[2017-12-11 23:19] SethTisue commented on #308
it's not blocking me.

I don't understand the issue, I don't know what you should do. but in general, this repo ought to compile, and tests pass, on whatever the latest 2.13 nightly is, since before long some descendant of that nightly will become 2.13.0-M3. (@szeiger?)

[2017-12-12 07:56] julienrf commented on #308
The issue is that we have a test that checks the semantics of an operation (`#::` on ~`Stream`~ `LazyList`) and that this semantics has changed because the language has changed. I would be in favor of changing the test so that it takes the new language semantics into account. However, the fact that the semantics of `#::` will have changed between 2.12 and 2.13 might be a problem for existing users

[2017-12-12 14:43] #290 closed

[2017-12-12 16:11] SethTisue commented on #308
👍

[2017-12-12 23:12] SethTisue opened #320 "MultiMap code doesn't compile on Scala 2.12"
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2383/consoleFull:

[code]

(is it still even a goal for the strawman to compile on 2.12...?)

[2017-12-13 08:40] julienrf commented on #320
Indeed, I didn’t check that… We have additional type annotations in other tests to make them compile with 2.12. I’m really looking forward to remove them ASAP (see #113).

I don’t think we should try to support 2.12.

[2017-12-14 22:51] SethTisue commented on #320
I have dropped this repo from the 2.12 community build

[2017-12-18 09:31] nicolasstucki opened #322 "Experiment with performance of unboxed Options"
Unboxed Options (or `UOption`) are a version of `Option` that do not require boxing for references that vas designed by @sjrd. These shift the cost of boxing references to boxing different levels of nesting of a `None` in a `Some`. This cost is mostly in runtime class checks when accessing the element or deconstructing the Option.

We are not sure if the performance is in fact better. But we avoid

[2017-12-19 17:46] odd opened #323 "Make `knownSize` in `Iterator` non final and override it for `IndexedSeq` iterators"
The `knownSize` method in `Iterator` is final and returns `-1` which signals that the size is not efficiently knownable. But this is not true for `IndexedSeq` inheritors, so they should be able to override it in their iterator implementations. This would allow any later transformations on the iterators to take advantage of the known size (for example by preallocating buffers of the right size).

[2017-12-22 12:27] julienrf opened #324 "Rename unordered to unsorted"
The `unordered` operation upcasts a `SortedThing` into a `Thing` (forgetting that it is sorted). I think we should use the name “unsorted” rather than “unordered”, because we use the “Sorted” prefix.

[2017-12-22 12:29] julienrf opened #325 "Add reusable methods for implementing transformation operations in a strict way"
Copy pasting the comment [here](https://github.com/scala/docs.scala-lang/pull/960#discussion_r158473500):

I was also wondering if we should provide helpers to implement such operations in a strict way. For the view based version it is as easy as writing:

[code]

We should probably have an equivalent strict version:

[code]

So that users could just write:

[code]

And we could use it also in [`S

[2017-12-22 12:31] julienrf opened #326 "Make it possible to have mutable iterables that are not growable"
Currently `mutable.IterableOps` extends `Growable`. This forbids mutable collections that have a fixed size but whose elements can be mutated (e.g. arrays).

[2017-12-22 12:35] #320 closed

[2017-12-22 12:38] julienrf opened #327 "Increase test coverage"
We should make sure that all operations are tested.

We should use https://github.com/scala/scala-collections-laws as soon as it is ready.

[2017-12-22 12:43] julienrf opened #328 "Adapt the parallel-collections module to the new design"
I’m creating the issue here but it’s about the following module: https://github.com/scala/scala-parallel-collections

We might not have a `GenIterable` type in the standard-library, but for people willing to generically program against an arbitrary collection, whether it is parallel or sequential, we could add a `GenIterable` type in the `scala-parallel-collections` module, and create implicit con

[2017-12-22 12:54] julienrf commented on #27
We should provide a decent support for cross-building, not just migrating to the new framework.

[2017-12-22 14:36] Ichoran commented on #327
It is ready to be implemented for collections-laws!  (The refactoring branch.)

I am really busy trying to finish up a year-end project so can't work on it for the rest of the year.  I could next year, if you'd like, or at least advise you on how to port the tests the strawman collections.

[2017-12-22 14:47] julienrf commented on #327
Oh sorry I didn’t think of looking at your fork! I thought that branch hasn’t been pushed, but now I see it. https://github.com/Ichoran/scala-collections-laws/tree/refactor-with-sourcecode

[2017-12-22 16:02] Ichoran commented on #327
I didn't want to just swap out the main branch without telling anyone, and I ran out of time to make plans to switch "officially".

[2018-01-03 09:00] julienrf commented on #246
As long as Scala 2.13 keeps using cooperative equality, I think the collections should keep using cooperative equality as well.

[2018-01-03 09:00] #246 closed

[2018-01-03 09:08] julienrf commented on #100
I agree with @szeiger comment. Therefore I’m closing this issue.

[2018-01-03 09:08] #100 closed

[2018-01-03 15:24] eyalfa opened #331 "proper serialization support for LazyList and Stream"
my original intention was to clone https://github.com/scala/bug/issues/10679 to this project.
after checking out the project and cloning the test I found out LazyList is not serializable at all.

is this intentional? if not will you accept a pr implementing proper serialization for LazyList avoiding the issue Stream serialization encounters (described in the linked issue).

Once fixed, re-enable t

[2018-01-03 19:13] julienrf commented on #331
We could make it `Serializable`, indeed!

[2018-01-03 19:24] eyalfa commented on #331
Great! I'm on it

[2018-01-05 15:38] eyalfa commented on #331
@julienrf , serialization support seems to be broken all over the place,
after modifying LazyList's serialization, my test started failing on: java.io.NotSerializableException: strawman.collection.immutable.NumericRange$$anon$2 (instead of the expected stack overflow).
is there a global task of adding serialization support to the strawman's collections? dropping this support is a regression affect

[2018-01-05 15:59] eyalfa commented on #331
issue seems global to the entire library, changed from `LazyList.range(..)` to `LazyList.from(List.range(...))`, now my test fails on java.io.NotSerializableException: strawman.collection.LinearSeqOps$$anon$1.
a quick check with javap proved this is the anonymous iterator class returned by `LinearSeqOps.iterator`.

[2018-01-05 16:30] julienrf commented on #331
We should fix serialization support, indeed. That’s out of the scope of the current issue, however, but would you interested in fixing what needs to be fixed to get `LazyList` serializable?

[2018-01-05 16:36] eyalfa commented on #331
I'd be happy to, problem is it seems a bit eclactic as I'd be touching a
very specific code path. I.e. if I stick with LazyList.range I'd have to
touch NumericRange an probably at least one of the Integral type class
implementation, if stick with List.range I'd have to make the iterator
serializable...
I sense I'd face many micro decisions where a macro one is in order... Good
thing is this code w

[2018-01-06 09:29] eyalfa commented on #331
@julienrf , feels like I've hit a wall:

strawman.collection.immutable.LazyList#fromIterator:
[code]
`lazy val evaluatedElem` introduces an instance of `scala.runtime.LazyRef` which is not serializable...

seems like [this](https://github.com/scala/bug/issues/10522) solved the issue, I guess I'll have to find a way to work with scala snapshot version...

[2018-01-08 08:53] julienrf commented on #331
Hey @eyalfa, thanks a lot for your investigation! I’m sorry that what started as simple and narrowed issue turned into a complex thing. The issue you mentioned was fixed in 2.12.4. Do you know what the status in 2.13.x?

[2018-01-08 09:03] eyalfa commented on #331
I've added a pointer to [scala#10522](https://github.com/scala/bug/issues/10522) closed by  scala/scala#6101 on  on Sep 27, 2017.
didn't get to check into what version of scala it was merged, I can definitely see it's not part 2.13.0-M2.

regarding complexity, I'd manage :sunglasses:

[2018-01-08 09:34] eyalfa commented on #331
2.13.0-M2 cutoff was on July 21st, so scala#6101 definitely didn't make it.

[2018-01-08 13:27] szeiger commented on #300
Implemented as part of #278

[2018-01-08 13:27] #300 closed

[2018-01-08 13:39] julienrf commented on #326
I think you fixed that one in #278, @szeiger, right?

[2018-01-08 13:39] #326 closed

[2018-01-09 01:07] SethTisue commented on #331
if you need scala/scala#6101 in order to work on this, you can use a nightly build of Scala 2.13. doing so is quite easy, as per https://stackoverflow.com/questions/40622878/how-do-i-tell-sbt-to-use-a-nightly-build-of-scala-2-11-2-12-or-2-13#40622879

[2018-01-09 08:38] julienrf opened #335 "Provide default implementations of factory methods when possible"
The `fromSpecificIterable`, `newSpecificBuilder`, and other factory methods that are currently implemented in concrete collections only could probably have default implementations earlier in the hierarchy.

[2018-01-11 10:30] #324 closed

[2018-01-11 20:12] joroKr21 opened #338 "Improve usability of lengthCompare"
In most codebases I've seen people just use `seq.length/size <> n` even though `seq.lengthCompare(n) <> 0` is recommended for sequential collections. In some cases it's probably for lack of knowledge, but in others the latter is just deemed too unreadable.

My suggestion is to add some shortcuts that make it more pleasant to use.
Something along those lines:
[code]

Other suggestions also welcome,

[2018-01-11 20:20] joroKr21 commented on #338
Link to chat: https://gitter.im/scala/collection-strawman?at=5a55f0fcd0514c785b120ece

[2018-01-11 20:31] SethTisue commented on #338
maybe `lengthIs`, `lengthAtLeast`, `lengthAtMost`

[2018-01-11 21:06] sjrd commented on #338
`length_==`, `length_>=`, `length_<=`

[2018-01-15 08:37] julienrf opened #339 "Consider adding a replace operation to Seq"
We already have it for `String`: `"foo".replace('o', 'e') == "fee"` but we could generalize to `Seq`.

Possible default implementation:

[code]

[2018-01-15 11:04] julienrf commented on #308
@szeiger I tried to make `#::` a proper method on `LazyList` (rather than an extension method), like you did in https://github.com/scala/scala/pull/5969 but then I noticed that it was not anymore possible to define lazy lists via recursive lazy vals:

[code]

We get an infinite recursion. Is that expected?

Note that on one hand, @odersky thinks that recursive lazy vals should not be supported (ht

[2018-01-15 12:37] julienrf commented on #323
Do you have examples of such operations?

[2018-01-15 16:58] julienrf opened #341 "Port immutable.Queue"
We currently have no equivalent of `collection.immutable.Queue`. An easy way to fix that would be to simply port the existing implementation. Or we could use #88 which has “ O(1) `enqueue` and amortized O(1) `dequeue`, but it also has O(1) `++` and O(1) `push`”

[2018-01-15 23:11] Ichoran commented on #341
What's the constant factor on `Steque`?  If it's comparable to bare `Queue`, we can just replace the `Queue` implementation with this (and we get a decent deque for free).  If it is substantially slower at core queue operations, then we could at it as well (probably as `Deque`, since that is probably why you would want it instead of `Queue`).

[2018-01-15 23:41] joroKr21 commented on #341
AFAIK it's not a full `Deque` as it supports efficient `enqueue`  at bot ends, but efficient `dequeue` only at one end. Still a useful collection to have :+1:

[2018-01-16 00:01] Ichoran commented on #341
Amortized O(1) can still be efficient, but anyway, I forget the performance characteristics, and for a core collection replacement, those are really important.  (Especially since an improvement over `Vector` is the only reason to use `Queue`.)

[2018-01-16 20:19] SethTisue commented on #308
here's an example recursive lazy val `Stream` in my own code:

[code]

the use of `lazy val` gives a true cycle (infinite if traversed, but occupying constant space in memory). still a niche use case, I guess, and wouldn't be horrible with a local `var` :-\

[2018-01-17 10:01] julienrf commented on #311
Here is a list of sub-issues:

- https://github.com/scala/docs.scala-lang/issues/995
- https://github.com/scala/docs.scala-lang/issues/996
- https://github.com/scala/docs.scala-lang/issues/997
- https://github.com/scala/docs.scala-lang/pull/960

[2018-01-17 13:28] szeiger commented on #308
The Fibonacci example desugars to:

[code]

Since the receiver of a method call cannot be lazy, this will never work. We still need an extension method. The improvement by the new desugaring is that `0` is no longer forced (and `1` if `#::` is not a lazy extension method).

[2018-01-17 14:03] #323 closed

[2018-01-17 15:01] julienrf commented on #328
Here is one possible path to migrate the parallel-collections:

- Make `ParIterable`, `ParSet`, `ParArray`, etc. a type hierarchy that shares nothing with the standard (sequential) collections. They will have a `seq` operation that transforms a parallel collection into a sequential one, but they will have no common supertype with the sequential collections (not even `IterableOnce`) ;
  - more prec

[2018-01-17 18:05] odersky commented on #328
Looks good! Actually I don't think that `IterableOnce` would work as a common supertype since it also assumes that things are done sequentially. `IterableInAnyOrder` comes closer, that's actually the same as the previous `GenIterable`. Maybe something like this?

    IterableInAnyOrder[A] {
      type Collection[A]
      // operation signatures defined in terms of `A` and `Collection[A]`
    }

[2018-01-17 18:17] Ichoran commented on #328
I don't think it should even be called an `IterableWhatever`; an `Iterable` produces an `Iterator`, which operates sequentially.  Parallel collections invert control: you can pass them functions, but you can't say "okay, now give me another one", which is the key operation of `Iterator`.

I don't think you need such a supertrait, though.  Handling both regular and parallel collections generically

[2018-01-17 20:58] julienrf commented on #328
Just to clarify: `IterableOnce[A]` has only one operation: `iterator(): Iterator[A]`. So, the only thing you can do with an `IterableOnce` is to get an `Iterator` from it. That iterator will *always* be sequential and will never be used by parallel operations. So the only purpose of making parallel collections extend `IterableOnce` is to improve interop: a parallel collection could then be passed

[2018-01-17 21:07] sjrd commented on #328
Giving one data point: in the Scala.js linker we do use parallel collections for the parallel optimizer. However, we also support a sequential optimizer that does not depend on parallel collections, since our linker cross-compiles to JVM/JS, and on JS it cannot use parallel collections.

To that end, we kind of wanted to use the generic aspect of interfaces for sequential and parallel collections.

[2018-01-18 12:35] lrytz opened #349 "List of incompatibilities to document / scalafix"
This ticket lists incompatibilities in the new implementation. Let's complete it over time with more entries, workaround suggestions.

### `CanBuildFrom`

### `breakOut`

### `updated`

`collection.Map` / `immutable.Map` no longer have an `updated` method

### `to`

[2018-01-18 16:46] szeiger opened #350 "Remove override of List.apply"
after we can bootstrap on top of https://github.com/scala/scala/pull/6229

[2018-01-19 09:39] jtjeferreira commented on #338
what about adding `seq.lengthCompare(anotherSeq): Int`

[2018-01-21 08:26] eyalfa commented on #331
@SethTisue , thanks this was helpful indeed.
@julienrf , I've got my code working with scala nightly build, how can I open a pr for this? my guess it will fail in CI as master is based on an earlier scala RC.

[2018-01-22 08:37] julienrf commented on #331
You can update the scala version in the strawman project. We do that sometimes for Dotty too.

[2018-01-22 09:09] eyalfa commented on #331
thanks @julienrf  for the swift reply,
I'm not sure if this is a viable option due to several reasons:
1. I had to disable some of the sub project because they depend on projects that don't have builds with scala nightly's  (i.e. scala-check), I believe this modifications to the build are not check-in worthy, hence the pr will immediately fail on CI.
2. I chose the latest available nightly about a

[2018-01-22 09:16] julienrf commented on #331
You can fix that (or at least try) by setting `scalaBinaryVersion := if (scalaVersion.value.startsWith("2.13")) "2.13.0-M2" else scalaBinaryVersion.value`

That’s fine.

Yes, as soon as 2.13.0-M3 is out we will use it. It is supposed to be released soon, by the way. So you can also just wait for that…

[2018-01-22 09:19] eyalfa commented on #331
@julienrf , thanks again for the swift(er) reply :sunglasses:
I'll try fiddling a bit with the build, if I can get something sensible out of it I'll open a PR, otherwise I'll wait for the next scala milestone.

[2018-01-23 18:10] edmundnoble commented on #341
The constant factor on enqueue and dequeue is just a single constructor call. All folds are implemented with a tight loop operating on an ArrayBuffer; I have benchmarks comparing the Queue and Steque implementations at https://github.com/edmundnoble/scabsbench but I haven't run them in a while, and the results aren't up.

[2018-01-23 18:34] Ichoran commented on #341
The .steq numbers there (in latest_results) look amazingly worse than everything else.  I haven't dug any deeper but something must be amiss.

[2018-01-23 18:38] edmundnoble commented on #341
Er you should be looking at the .cat numbers, sorry :)

[2018-01-23 18:40] edmundnoble commented on #341
Those results, also... not the latest.

[2018-01-23 19:21] Ichoran commented on #341
Ah, those look quite promising.

[2018-01-24 16:28] julienrf opened #359 "“prepend” in mutable.Buffer is confusing"
In `collection.mutable.Buffer`, we have:

[code]

- the name “prepend“ is very close to the inherited `prepended` operation,
- all other expansion operations come in two variants: one that operate on a single element (e.g. `prepended`, `addOne` and `subtractOne`) and one that operates on a collection of elements (e.g. `prependedAll`, `addAll` and `subtractAll`), but there is no `prependAll` in `Bu

[2018-01-24 16:35] Ichoran commented on #359
Don't we always have the plain vs. `ed` problem, e.g. with `append` and `update`?  This isn't any different is it?

I am not aware of what the logic behind dropping `+=:` and `++=:` is.  Maybe it's the "symbol soup" factor, or maybe because it is easy to confuse with `+:` and `++:`, which give the same return type, but where confusing the two is very unlikely to give correct code.

[2018-01-24 16:38] julienrf commented on #359
`append` is deprecated in favor of `addOne`. The problem exists for `update`/`updated`, though, you’re right.

[2018-01-24 19:05] lrytz opened #362 "ListBuffer misbehaves after clear"
Example 1:

[code]

Example 2:

[code]

This causes test failures in scala-xml (https://github.com/scala/scala-xml/compare/master...lrytz:newCollections?expand=1)

[2018-01-25 09:35] julienrf commented on #325
We should then use that to implement the missing `StrictOptimizedMapOps`.

[2018-01-25 11:03] lrytz opened #363 "Provide implicit Factory and CanBuild instances for String and Array"
[code]

The last two lines don't compile (Code from https://github.com/scala/scala/blob/2.13.x/test/files/pos/collectGenericCC.scala)

[2018-01-25 12:56] lrytz opened #365 "Mutable collections should extend Cloneable like in 2.12"
Found by https://github.com/scala/scala/blob/2.13.x/test/files/pos/array-interfaces.scala

[2018-01-25 13:48] julienrf opened #367 "Lazier LazyList?"
@sjrd pointed mo to https://github.com/scala/bug/issues/10696

In our current `LazyList` implementation, you have to say whether a `LazyList` instance is going to be empty or non empty at the time you build it, making it impossible to implement an unblocking `linesStream` operation. We should consider delaying the moment where we say whether the `LazyList` is empty or not to iteration time instead

[2018-01-26 10:00] doalex commented on #277
Hi guys!
How is it going with this awesome feature? Do you think it will make it into Scala 2.13? :)

[2018-01-26 10:06] mdedetrich commented on #277
@doalex This is going to be discussed at a meeting for the Scala Platform for the best way to approach this, the idea is for it to make it in Scala 2.13.x

[2018-01-26 10:44] lrytz opened #372 "Bring back collection.convert.ImplicitConversions"
...and its two halves, `ImplicitConversionsToScala` and `ImplicitConversionsToJava`

[2018-01-26 14:01] lrytz opened #374 "Array[(T, U)] unzip builds Vectors not Arrays"
[code]

In 2.12, the definition of `f` doesn't compile, it requires `ClassTag`s on the type parameters. Then

[code]

[2018-01-26 14:11] julienrf commented on #374
An overload is missing.

[2018-01-26 20:00] lrytz commented on #160
There's also `SeqView`. In 2.12, `List(1,2).view.reverse` works (https://github.com/scala/scala/blob/2.13.x/test/files/run/ReverseSeqView.scala)

[2018-01-27 04:33] edmundnoble commented on #341
Thanks, they can also be tuned; the arraybuffer could be a bit bigger.

[2018-01-27 08:28] dhanesharole commented on #226
Is anyone working on this? Can I have a look?

[2018-01-27 08:33] lrytz opened #375 "Consider adding a deprecated `+` on collection.Set/Map"
The fact that `collection.Set` and `mutable.Set` no longer have a `+` method can lead to very error confusing messages or even confusing compiling code. I think this could cause quite some headaches for users during the migration.

[code]

User: It's clearly a set of `Int`s, why does it want a `String`?

[code]

User: Going to file a bug, there's something wrong with `HashSet.toString`.

Same for

[2018-01-27 08:34] lrytz commented on #375
(It took me a while to figure out that this is what's going on when adapting the test here: https://github.com/scala/scala/blob/2.13.x/test/files/run/colltest1.scala#L140-L143)

[2018-01-27 08:44] lrytz commented on #375
What's even more confusing is that there's a `++` method on `collection.Set` (and therefore `mutable`) which clones.

[2018-01-27 09:33] lrytz opened #376 "LazyList.toString has a different format than other collections"
Could we bring `LazyList.toString` more in line with other collections? Strawman:

[code]

2.12:

[code]

[2018-01-27 12:27] lrytz opened #377 "mutable HashSet/HashMap not serializable"
[code]

[2018-01-27 13:34] lrytz opened #378 "NPE in AbstractIterator.mkString"
`AbstractIterator.mkString` crashes with an NPE on null elements

[code]

[2018-01-27 14:07] lrytz opened #379 "Writing simple subclasses used to be simpler"
In 2.12:

[code]

In strawman I need to add

[code]

It's pretty mechanical (and also not obvious to newcomers) in the basic case when you don't need specific return types for operations. Should we provide some helper classes with default implementations?

[2018-01-27 14:46] lrytz opened #380 "immutable.HashSet.subsetOf should not invoke hashCode"
This test fails: https://github.com/scala/scala/blob/2.13.x/test/files/run/t7326.scala#L45-L61
Added in https://github.com/scala/scala/pull/3315

[2018-01-28 18:04] dhanesharole commented on #226
@julienrf I have raised [PR](https://github.com/scala/collection-strawman/pull/381) for this issue. Can you please review it and give some feedback ?

[2018-01-29 07:57] igreenfield opened #382 "strawman.collection.mutable.Map issue"
Please see this issue it is the same: scala/bug#10703

[2018-01-29 08:22] julienrf commented on #335
In #379, @lrytz wrote the following:

In 2.12:

[code]

In strawman I need to add

[code]

It's pretty mechanical (and also not obvious to newcomers) in the basic case when you don't need specific return types for operations. Should we provide some helper classes with default implementations?

[2018-01-29 08:22] julienrf commented on #379
Duplicate of #335. I’ve copy-pasted your comment there.

[2018-01-29 08:22] #379 closed

[2018-01-29 08:29] lrytz commented on #379
Thanks, I should have found this.

[2018-01-29 08:31] #362 closed

[2018-01-29 10:18] #365 closed

[2018-01-29 10:19] #363 closed

[2018-01-31 08:28] julienrf commented on #380
It looks like I omitted to copy the implementation of `subsetOf` for no good reason…
https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/immutable/HashSet.scala#L74

[2018-01-31 10:06] julienrf opened #385 "ArrayBuffer#clear still references “removed” elements"
As mentioned in this comment: https://github.com/scala/collection-strawman/pull/49#issuecomment-360196113
This behavior prevents the removed elements to be GC-ed.

[2018-01-31 19:50] #378 closed

[2018-02-02 19:42] dhanesharole commented on #247
Can I pick up this ? Is anyone working on it ?

[2018-02-02 20:32] lrytz opened #392 "`indexOfSlice` buggy"
[code]

Test case here: https://github.com/scala/scala/blob/2.13.x/test/files/run/kmpSliceSearch.scala#L33-L34, but need to replace `SeqLike.indexOf(...)` by `xs.indexOfSlice(ys)`

[2018-02-02 21:45] lrytz commented on #392
https://github.com/scala/scala/blob/2.13.x/test/files/run/seqlike-kmp.scala also shows a different output.

[2018-02-03 03:28] Ichoran commented on #392
Yeah, that's the one I was talking about in gitter.

I'll try to turn everything into bug reports.  Still working on getting all the collections in.

[2018-02-03 22:17] Ichoran opened #395 "Unsafe drop in LazyList"
This throws an exception:

[code]

`drop` should be a safe operation.

[2018-02-03 22:21] Ichoran opened #396 "Buffers think they're just Seq"
Buffers revert to Seq on pretty much any operation.  For instance,

[code]

Buffer should be updated, if possible, to remember it is a buffer.  (The underlying type in both cases is `ArrayBuffer`; this is entirely the compile-time side that is losing track of identity.)

[2018-02-03 22:24] Ichoran opened #397 "Mismatching signature of copyToArray"
The old collections have a `copyToArray` that takes two numeric parameters; the second one is the maximum number of elements to copy.  The new version is missing the second parameter.

[code]
should compile.

[2018-02-03 22:31] Ichoran opened #398 "Patch throws an exception on out of bounds indices"
Patch should be completely safe, resolving bad parameter values by clipping them to safe values.

However, the current implementation throws exceptions instead.  For instance,

[code]

throws an exception.

[2018-02-03 22:38] Ichoran opened #399 "Vector flips order on ++:"
The order of elements should be unchanged when using `++` or `++:`; the difference should only be in which collection is "added to" (which also determines the result type).  This is the case for `List` and `ArrayBuffer` among others, but `Vector` gets the "left hand side" backwards.

[code]

should be `Vector(1, 2, 3, 4)`.  Presently it is `Vector(2, 1, 3, 4)`.  (It doesn't matter what collection

[2018-02-03 22:41] Ichoran opened #400 "+=: on ArrayBuffer can be a no-op"
ArrayBuffer doesn't prepend an element when the `+=:` method is called.  It instead slides everything down but doesn't increase the length (as far as I can tell)

[code]

demonstrates the problem.

[code]

gives `ArrayBuffer(1)`.  Probably the length isn't being updated?

[2018-02-03 22:50] Ichoran opened #401 "Iterator is missing the bare and separator-only variants of addString"
The old collections have `addString` in three variants on Iterator:

[code]

But the new `Iterator` has only the last variant.

It should get the other two.  In particular,

[code]

should compile and be true.

[2018-02-03 22:54] Ichoran commented on #327
collections-laws are now implemented reasonably well, albeit in a bit of an add-hoc way at

 https://github.com/Ichoran/scala-collections-laws/tree/add-strawman-coll

Note that you have to, right now, manually drop the strawman and sourcecode jars into the two folders.  (I take forever to get sbt to do anything smart, which I didn't think was a good use of limited time.)

I am translating the issu

[2018-02-03 22:54] #327 closed

[2018-02-03 22:58] Ichoran opened #402 "WeakHashMap is so weak it can't preserve or remember who it is"
Essentially none of the operations on `WeakHashMap` return another map typed as `WeakHashMap`, unlike in the old collections.  The underlying map is _not_ a `WeakHashMap` after, for instance, a `filter`; it is *not* just a compile-time loss of type identity.

This behavior is changed from the old collections: `WeakHashMap` used to give another `WeakHashMap`.  It probably should again.

[2018-02-03 23:04] Ichoran opened #403 "Maps with special keys (AnyRefMap and LongMap) cannot map/flatMap etc"
The four operations `map`, `flatMap`, `++`, and `collect` cannot be used with `AnyRefMap` or `LongMap` and still produce a map of the appropriate type.  This is _not_ just a compile-time issue for `map`, `flatMap` and `collect`; the map is actually made as a generic `HashMap` even if the element types are okay.  With `++`, the map type is preserved, but the compiler forgets what it is and calls it

[2018-02-03 23:08] Ichoran opened #404 "Semantics of zip on maps has changed"
With previous collections zipping maps to each other (or a map to anything) would create a new map whose keys were the (key, value) pairs from the old map, and whose values were whatever was zipped to on the right.

Now, `zip` returns an `ArrayBuffer` typed as an `Iterable` instead when maps are zipped together.

We should we be sure that we want to not keep the old behavior.  (It was a bit peculi

[2018-02-03 23:21] Ichoran opened #405 "Consider fallback to sorted set type for BitSet"
BitSet can only be mapped if the output is also an integer; otherwise there's an ambiguous reference between StrictOptimizedIterableOps and SortedSetOps.  It's easy to pick the former with `unsorted`.  But the latter doesn't seem to have any easy way to select.  It should either be the default, if possible, or have a method that would upcast to a generic sorted set type (if there is a method name

[2018-02-04 00:40] Ichoran opened #406 "`takeWhileInPlace` overshoots bounds"
[code]

throws an out of bounds exception (as do all the mutable sequences).

(`ListBuffer` also throws an index out of bounds exception--should check to make sure this is working efficiently.)

[2018-02-04 00:49] Ichoran opened #407 "patchInPlace throws a class cast exception"
[code]

The call was to `ArrayBuffer.empty[Int].patch(-1, ArrayBuffer.empty[Int], -1)`, but this shouldn't happen regardless.

[2018-02-04 00:52] Ichoran opened #408 "Mutable maps and sets don't mapInPlace properly"
They end up behaving like `xs ++= xs.map(f)` instead of `xs = xs.map(f)`.

Example code:

[code]

xs is now `Set(1, 2)`

[2018-02-04 03:48] Ichoran opened #409 "takeInPlace overshoots bounds"
[code]

fails with an exception.

[2018-02-04 03:48] Ichoran commented on #406
Fix #409 first--this one is probably a consequence of that?

[2018-02-04 03:52] Ichoran opened #410 "dropInPlace and dropRightInPlace are unsafe"
They should mimic the behavior of `drop` and `dropRight`, where elements beyond the end of the collection (or negative numbers of elements) are ignored.  Presently, an IndexOutOfBoundsException is thrown instead.

Sample code:

[code]

These should both clear out the `ArrayBuffer`.  (`ArrayBuffer` is not the only class affected.)

[2018-02-04 03:57] Ichoran opened #411 "`insert` on mutable collections doesn't insert in empty `ArrayBuffer`"
[code]

shows `xs` to still be empty.  On a non-empty `ArrayBuffer`, it shifts the last element off the end instead of increasing the size.

[2018-02-04 03:58] Ichoran commented on #400
Issue #411 might be the deeper problem that is causing this one.

[2018-02-04 04:12] Ichoran opened #412 "flatMapInPlace ignores all but the last collection"
[code]
should yield `ListBuffer(-1, -2, -3, -1, -2, -3, -4, -1, -2, -3, -4, -5)`.  Instead it yields `ListBuffer(-1, -2, -3, -4, -5)`.

(You can distinguish "last one" from "longest one" by switching `take` to `drop`.)

[2018-02-04 04:17] Ichoran opened #413 "filterInPlace throws exceptions and/or fails on many inputs"
[code]

is one such example of throwing an exception.  (`ArrayBuffer` always throws.)

`ListBuffer` returns incorrect results.

[code]

returns `ListBuffer(2)`.

If anything else has `filterInPlace`, it is okay.

[2018-02-05 08:21] julienrf commented on #372
Fixed by #394.

[2018-02-05 08:21] #372 closed

[2018-02-05 08:22] #411 closed

[2018-02-05 08:22] julienrf commented on #400
Fixed by #417.

[2018-02-05 08:22] #400 closed

[2018-02-05 08:23] #396 closed

[2018-02-05 08:47] julienrf commented on #403
IIUC the fix is to add overloads of the `map`, `flatMap`, `++` and `collect` operations.

[2018-02-05 08:52] julienrf commented on #327
This is great @Ichoran! How do we know which collection types are tested?

[2018-02-05 08:56] julienrf commented on #247
I think this one will be simpler to address after we have moved the code base to the scala/scala repository. (I shouldn’t have put the `ready` label…)

[2018-02-05 12:28] lrytz opened #418 "Harmonize use of `@SerialVersionUID`"
There won't be any serialization compatibility between 2.12 and 2.13 collections, so we should make sure to use `@SerialVersionUID` numbers different than in 2.12. Other than that, we can pick any number - there's no advantage in picking the number computed by `serialver`.

So I propose we just use `@SerialVersionUID(3L)` across the entire 2.13 collections (there are some uses of `1L` and `2L` in

[2018-02-05 12:53] #377 closed

[2018-02-05 13:48] #192 closed

[2018-02-05 13:53] #395 closed

[2018-02-05 14:15] lrytz opened #419 "Review public members"
At some point before shipping we should review public types / methods in the collection package. The following can be pasted in the repl:

[code]

Example output: https://gist.github.com/lrytz/54a920d0025913aec4c544862dd74ea0 - can be improved :)

[2018-02-05 14:19] lrytz commented on #419
We should also convert the above code to a partest test to make sure no public members are added accidentially.

[2018-02-05 16:07] lrytz opened #420 "LazyList.toString SOE"
[code]

[2018-02-05 16:22] lrytz commented on #420
Very funny thing:

I can reproduce this behavior when starting a new repl (with `JAVA_OPS` empty). But after running it for a few times, the JVM will inline / optimize something to make it actually work :-)

[code]

[2018-02-05 16:31] lrytz opened #421 "LazyList.flatMap SOE"
[code]

works in 2.12 Stream.

[2018-02-05 16:41] lrytz opened #422 "LazyList.force should not return an Option"
It should just return a LazyList, and it should actually force the entire list (Not just the head)

[2018-02-05 17:11] #226 closed

[2018-02-05 17:51] marcelocenerine commented on #406
Yes indeed.

[2018-02-05 18:14] marcelocenerine commented on #412
`ArrayBuffer.flatMapInPlace ` is also buggy:

[code]
yields
`res2: strawman.collection.mutable.ArrayBuffer[Int] = ArrayBuffer()`

[2018-02-05 18:31] marcelocenerine commented on #407
The call must have been `ListBuffer.empty[Int].patchInPlace(-1, ListBuffer.empty[Int], -1)`. This is probably caused by the fact that the `from` parameter is not normalized.

[2018-02-05 19:23] #399 closed

[2018-02-05 19:27] #413 closed

[2018-02-05 19:28] julienrf commented on #409
Fixed by #423.

[2018-02-05 19:28] #409 closed

[2018-02-05 19:28] julienrf commented on #410
Fixed by #423.

[2018-02-05 19:28] #410 closed

[2018-02-05 19:29] julienrf commented on #406
Fixed by #423.

[2018-02-05 19:29] #406 closed

[2018-02-05 19:47] #412 closed

[2018-02-06 12:07] buzden opened #426 "Consider adding `intersects` operation to sets"
Aren't there any objections to having an operation `intersects` for sets

- with meaning `xs.intersect(ys).nonEmpty` or `xs.exists(ys)` (where `xs` and `ys` are sets);
- that can be implemented in more optimal way in some cases, e.g. for `BitSet`s or `HashSet`s;
- which is more readable and semantically clear: compare `xs intersects ys` to `xs exists ys` or `xs.intersect(ys).nonEmpty`

[2018-02-06 17:45] dhanesharole commented on #376
Is anyone working on this ? I want to work on this. Can someone please assign it to me on waffle board ?

[2018-02-06 18:19] marcelocenerine commented on #376
it's very likely that the solution for this will also address #420

[2018-02-06 18:23] Ichoran commented on #426
I find this significantly less clear because it looks too much like you're creating a new set, not a `Boolean`.

[2018-02-06 18:52] SethTisue commented on #426
these things look appealing considered individually, but considered collectively, you end up with an overwhelming amount of methods — arguably we're at or past that point already

[2018-02-06 20:04] julienrf commented on #376
@dhanesharole we can only assign people which are part of the organization. But if you want to work on this one, go for it, I’m marking it as “in progress”!

[2018-02-07 04:29] dhanesharole commented on #376
Kool. I am on it. PR on way

On Wed 7 Feb, 2018, 1:34 AM Julien Richard-Foy, <notifications@github.com>
wrote:

--

- sent from mobile device. Apologies for typos

[2018-02-07 09:19] Jasper-M commented on #247
It feels a bit awkward to only add `Traverse` and `Applicative` just for this purpose, but not have all related typeclasses and operations.

[2018-02-07 15:52] #147 closed

[2018-02-07 16:14] ShaneDelmore commented on #426
For an alternative point of view I found it very clear, I’ve never had call to use either but upon first reading I assumed xs intersect ys produced the intersection and xs intersects ys returned a boolean based on the names.  I read intersect as an action, and intersects as a question.

[2018-02-08 12:53] julienrf commented on #160
@lrytz For `reverse` I’m wondering whether we should support it at all in `SeqView`. It is possible to delay the process of reversing the underlying collection, but that process will reverse the whole collection at once (it can not be fused with other intermediate transformations).

[2018-02-08 13:33] lrytz opened #432 "Overloading resolution with constrained types"
[code]

The problem is that there are two overloads
  - `def map[B](f: A => B): CC[B]` (in `StrictOptimizedIterableOps`)
  - `map[B: ClassTag](f: A => B): Array[B]` (in `ArrayOps`)

2.12 would pick the generic version when there's no `ClassTag` in scope. A workaround is to have an expected type:

[code]

Stefan on gitter: "That's probably unavoidable given the way overload resolution works. We can

[2018-02-08 13:52] julienrf commented on #432
In my opinion this is a feature, and the error message is not that bad. Maybe a better message would be: “you need an implicit `ClassTag[T]` to build an `Array[T]`. Either get such an implicit value or transform your `Array[T]` into a different type of sequence.”. And, for sorted sets: “you need an implicit `Ordering[T]` to build a `SortedSet[T]`. Either get such an implicit value or upcast your `

[2018-02-08 13:54] julienrf commented on #432
If we could add `@implicitNotFound` annotation *at use site* that could solve the issue:

[code]

[2018-02-08 13:57] lrytz commented on #432
That's a great idea!

[2018-02-08 15:20] dhanesharole commented on #376
@lrytz , I have few questions. Since in strawman both head and tail can be lazy, I feel following string representation makes more sense. As they indicate the lazy nature of both `head` and `tail`.

**Scenarios**
[code]

and so on. Basically the idea is to precisely show if head was evaluated or not ? Let me know what are your thoughts on it ?

[2018-02-08 15:52] julienrf commented on #376
That looks good to me except that in the case where none of the `head` or `tail` has been evaluated I would show only one `?`, not two:

[code]

[2018-02-08 16:07] lrytz commented on #374
Still the same for `unzip3`

[2018-02-08 16:09] lrytz commented on #374
actually that's a different thing, i'll create a separate ticket

[2018-02-08 16:09] #374 closed

[2018-02-08 16:10] lrytz opened #433 "unzip3 is missing"
2.12 ArrayOps provides
[code]
Should we just bring it back?

[2018-02-08 16:30] lrytz opened #435 "Array.transpose creates vectors"
Should create arrays

[code]

[2018-02-08 16:38] marcelocenerine commented on #433
same for `Iterable`

[2018-02-08 18:51] SethTisue commented on #376
do we need `?` for unevaluated head and something different, maybe `...`, for unevaluated tail? because otherwise I can't tell whether `LazyList(1, ?)` means a list of length 2 whose `.tail.head` hasn't been evaluated yet, or a list of undetermined length because its `.tail` hasn't been evaluated yet

[2018-02-08 18:57] lrytz opened #437 "Nil.indexOfSlice(Nil) is -1"
was `0` in 2.12, currently `-1`

[2018-02-09 11:42] lrytz commented on #375
Even if we didn't have `any2stringadd`, I'd be for adding `+` to improve compatibility.

We should also discourage the use of `collection.X` factories. Or is there a good reason to ever use `collection.Set("hi")` over `collection.immutable.Set("hi")`?

[2018-02-09 12:27] lrytz opened #438 "BuildFrom instance for BitSet"
[code]

Also Factory instances? Check if there other collection types that are missing Factory/BuildFrom.

In 2.12 this builds a BitSet

[code]

[2018-02-09 12:33] #385 closed

[2018-02-09 12:33] #398 closed

[2018-02-09 12:33] #407 closed

[2018-02-09 13:59] jiminhsieh commented on #397
If no one work on this one, I will try to give this a shot. :)

[2018-02-09 14:24] lrytz opened #440 "Missing overloads in LongMap"
`map`, `flatMap` have specific overloads in IntMap, but not in LongMap.

IntMap has a `concat` override with a cast (because `IntMap[+T]` extends `MapOps[Int, T, Map, IntMap[T]]`, we cannot pass `IntMap` as `CC` because it only has one type param - right?), but not LongMap

[2018-02-09 14:54] lrytz opened #441 "LinkedList.from infinite recursion"
[code]

[2018-02-09 15:13] julienrf opened #442 "Make sure HashSet is at least as performant as in the old collections"
In #439 I’ve added benchmarks comparing the main operations of hashsets. In some cases we are still under the performance level of the old `HashSet`. Also, in some cases `ChamHashSet` is less performant than `HashSet`. We have to investigate more before committing to a default `Set` implementation.

![equals](https://user-images.githubusercontent.com/332812/36034206-9aaa81de-0db3-11e8-87af-a3ba18d

[2018-02-09 15:15] julienrf commented on #397
@jiminhsieh please go ahead!

[2018-02-11 10:57] dhanesharole commented on #376
I have raised PR for this. See [here](https://github.com/scala/collection-strawman/pull/445)

[2018-02-12 10:47] lrytz commented on #440
I tried

[code]

but that fails
[code]

[2018-02-12 10:58] julienrf commented on #440
The compilation error means that we can not guarantee that we will always be able to return an `IntMap` (some `Map` transformation operation can change the type of key). That’s why we will have to overload the operations:

[code]

Here we know that we can return an `IntMap` because the type of keys is unchanged.

[2018-02-12 11:02] julienrf commented on #440
I’m happy to live with a cast in `IntMap` or `LongMap`. At one point I’ve tried to abstract over the return type of map operations that preserve the type of keys but that added a *fifth* type parameter to `MapOps` so I reverted.

[2018-02-12 11:41] lrytz commented on #440
Ah yes, of course, thanks.

[2018-02-14 09:10] #380 closed

[2018-02-15 01:14] jiminhsieh opened #451 "Sonatype's snapshot only has version 0.1"
It seems no longer publishing latest snapshot to Sonatype automatically. The only snapshot I can find on Sonatype is `0.1-SNAPSHOT`.
https://oss.sonatype.org/content/repositories/snapshots/ch/epfl/scala/collection-strawman_2.12/

[2018-02-15 09:46] julienrf commented on #451
Indeed, I don’t know why but our `after_success` hook is not called by Travis-CI…

I’ve just manually published a 0.10.0-SNAPSHOT but if someone knows what’s wrong with our .travis.yml file I’m happy to fix it.

[2018-02-15 19:29] SethTisue commented on #451
maybe #453 will take care of it

[2018-02-16 07:58] #451 closed

[2018-02-16 19:08] szeiger commented on #335
The approach I had in mind runs into a bug (or a more fundamental language problem?) in Scala (but would work in Dotty): https://github.com/scala/bug/issues/10725

[2018-02-18 22:32] julienrf opened #460 "List extractor accepts Seq parameters"
[code]

This code compiles and fails at runtime with a match error: https://scastie.scala-lang.org/mRhIPpDDTsCP04gava4SFw

The `::` extractor should not accept a `Seq` as parameter, this should be a compile error.

[2018-02-19 09:17] julienrf commented on #341
Fixed by 91fbf408fc7a25848108add55227f8d5508def88

[2018-02-19 09:17] #341 closed

[2018-02-19 09:18] julienrf opened #461 "Consider using Steque to implement immutable.Queue"
See discussions at #88 and #341.

[2018-02-19 09:27] julienrf commented on #179
@szeiger what’s the status of that? Is it possible to create a Scala distribution that uses strawman’s `master`?

[2018-02-19 09:30] julienrf opened #462 "Report tests coverage"
I guess we can easily set up [scoverage](http://scoverage.org/) for our tests, however I’m wondering if we can make it work for collections-laws as well. @Ichoran do you have any clue on that?

[2018-02-19 09:36] julienrf commented on #418
Fixed by #444.

[2018-02-19 09:36] #418 closed

[2018-02-19 12:20] julienrf opened #464 "Make ArrayOps not extend IndexedSeqOps"

[2018-02-19 12:27] julienrf opened #465 "Enforce consistency between the available operations of IterableOnce and Iterable"
Currently these collection types don’t have a common super type.

@lrytz suggested that we write some tests that use reflection to check that the operations and type signatures are consistent between them.

[2018-02-19 12:33] #179 closed

[2018-02-19 13:01] julienrf opened #466 "Document better the differences between views, iterators and lazylists"

[2018-02-19 16:39] lrytz commented on #465
Here's a the current diff of Iterable vs Iterator operations: https://gist.github.com/lrytz/39bdb1b25c23e204c3263809534ba6a0/revisions#diff-5b3b7587cc6e69d92ccb282bab852b31

[2018-02-19 16:46] lrytz opened #467 "Promote `to` over `Coll.from`"
[code]

I think we should recommend using `it.to(List)` instead. The code is much more readable if operations appear in the order that they are performed.

[code]

Stefan says that we might be able to support cross-compiling by providing an implicit conversion from `Factory` to `CanBuildFrom` in the compat library to make the new syntax work in the old collections.

[2018-02-19 16:53] lrytz commented on #466
useful pattern: `x.view.[transforms].to(LazyList)`

[2018-02-19 17:15] lrytz commented on #465
See also https://github.com/scala/collection-strawman/issues/419

[2018-02-20 08:05] optician commented on #127
Tested with 2.13.0-M3. Works fine.
[code]
Scala 2.13.0-M2 evaluates only first element.

[2018-02-20 08:11] julienrf commented on #127
Yes, see #345.

[2018-02-20 08:18] julienrf commented on #435
Fixed by #452.

[2018-02-20 08:18] #435 closed

[2018-02-20 08:18] julienrf commented on #397
Fixed by #452.

[2018-02-20 08:18] #397 closed

[2018-02-20 14:05] #335 closed

[2018-02-20 14:54] optician opened #469 "LazyList.fromIterator is not stacksafe."
Details within https://github.com/scala/collection-strawman/pull/454#discussion_r169016624

[2018-02-20 15:34] julienrf opened #471 "Consider adding sortInPlace to mutable collections"

[2018-02-20 16:07] Ichoran commented on #471
On `Seq` only, obviously.  It doesn't really have sensible performance characteristics on `LinearSeq` but last I checked we don't have that any more.  So just `mutable.Seq` or `mutable.IndexedSeq`.  The key is that you need to have a fast swap operation.  (Otherwise you are rebuilding two new collections: a new sorted collection, and yourself again, now sorted.)

[2018-02-20 16:08] k0ala opened #472 "Counting in collections"
I often run up against issues of the following kind. I have a large collection `xs`, and I would like to do one of the following:

1) for each distinct value, get a count of how often it appears in `xs`.
2) more generally, get a count of how often each value `f(x)` appears in `xs.map(f)` (point 1 is a special case with `f` == `identity`).
3) obtain the subset of values in `xs` that occur more than

[2018-02-20 16:16] Ichoran opened #473 "Consider dropping `filterInPlace`, `mapInPlace`, and `flatMapInPlace` from unordered mutable collections"
The presence of a method like `filterInPlace` suggests that one might at some point want to use it.  Unfortunately, unordered collections can't efficiently `filterInPlace` via a general algorithm; it works out to being something like

[code]

which is not very helpful.  Sequentially dropping every element as you find it is a no-go; there is no promise that later elements will actually still be ite

[2018-02-20 21:34] odersky opened #475 "Ensure conformance to new typing rules"
https://github.com/lampepfl/dotty/pull/4013 contains several tightenings of typing rules to fix unsoundness problems connected to variant refinements. We should ensure that the new collections typechecks with these changes.

[2018-02-20 22:33] julienrf commented on #472
I think [groupMapReduce](https://static.javadoc.io/ch.epfl.scala/collection-strawman_2.13.0-M2/0.9.0/strawman/collection/Iterable.html#groupMapReduce[K,B](key:A=%3EK)(f:A=%3EB)(reduce:(B,B)=%3EB):strawman.collection.immutable.Map[K,B]) supports all these use cases without creating extra collections.

[2018-02-21 08:42] k0ala commented on #472
@julienrf Thanks, I will look into `groupMapReduce`, perhaps these methods can be implemented efficiently with it. What do you think about adding these methods to the general collections API?

[2018-02-21 08:49] julienrf commented on #472
We already have a lot of methods, it’s preferable to introduce as few new methods as possible :) I think `groupMap` and `groupMapReduce` are general enough to support your use case.

[2018-02-21 10:03] #160 closed

[2018-02-21 10:33] julienrf opened #477 "Rename IndexedView to IndexedSeqView"

[2018-02-21 10:48] optician commented on #421
@lrytz I guess it was fixed in #454 but also #469 was created.
[code]

[2018-02-21 13:28] lrytz commented on #464
So the goal here would be to get rid of unwanted inherited methods, such as the overload of map that works without a ClassTag. Example:

[code]

But if ArrayOps no longer extends IterableOps, all the inherited operations that would work fine have to be re-implemented. There's no parent trait that would enforce the same interface - a problem that we already have between Iterator and IterableOps (ht

[2018-02-21 13:44] julienrf commented on #464
I think we could probably have a parent trait for reducing operations, because unlike operations that return `C` or `CC[?]`, there is no need for taking a type parameter (and thus no need to refine it at each level of the hierarchy).

[2018-02-21 20:00] Ichoran commented on #477
As I mentioned in the comment, I would as soon change `IndexedSeqOps` to `IndexedOps`; I don't believe there's any other sensible way to get indexing (especially since "Indexed" doesn't just mean that you can find an index--you can do that with `LinearSeq` and `SortedSet` and stuff too--it really means that indexing is efficient and natural).

[2018-02-22 19:17] szeiger commented on #465
This sounds a lot like the `IterableMonoTransforms` we had in earlier iterations of the design.

[2018-02-22 19:35] szeiger commented on #465
I had a look at the diff and most of what I saw looks reasonable. `Iterator` does have methods like `dropRight` that would require forcing and caching everything. OTOH, because an `Iterator` represents a single traversal, it has some `Seq`-like features that are missing from `Iterable`.

[2018-02-27 08:28] #382 closed

[2018-02-27 10:29] hosseinhaeri opened #485 "In-Place `dropRight` for `ListBuffer`"
`ListBuffer` does have the familiar `dropRight` method. It also has the in-place `--=` expected of a `Buffer` -- albeit only taking a `TraversableOnce[A]`. Is there any hope it can also have an in-place `dropRight`? A syntax like `myListBuffer --= n` feels convenient to me (where `n` is the number of elements to drop from the end of `myListBuffer`).

I do already know that there is the possibility

[2018-02-27 10:34] julienrf commented on #485
Note that you could avoid the creation of a temporary collection as follows:

[code]

But still, it would be more convenient to have high-level operations to trim buffers.

[2018-02-27 12:33] hosseinhaeri commented on #485
Thanks. I wasn't actually aware of the `view` facility. I will use that for now. But, I'll look forward the convenient syntax.

[2018-02-27 14:20] #465 closed

[2018-02-28 08:05] #401 closed

[2018-02-28 12:35] szeiger commented on #473
We should consider `mapValuesInPlace` which can be implemented efficiently.

[2018-02-28 18:24] ruhly commented on #485
`ListBuffer` does have a `dropRightInPlace` method defined. Is the issue to create the `--=` alias for `dropRightInPlace`?

[2018-02-28 19:45] julienrf commented on #485
Actually I forgot to check but all `Buffer`s have `dropRightInPlace`: https://static.javadoc.io/ch.epfl.scala/collection-strawman_2.13.0-M2/0.9.0/strawman/collection/mutable/Buffer.html#dropRightInPlace(n:Int):Buffer.this.type

[2018-02-28 19:45] #485 closed

[2018-03-01 11:15] hosseinhaeri commented on #485
Thank you for pointing out `dropRightInPlace`. It would be of even more interest to have that alised into `--=` too.

[2018-03-01 13:14] julienrf commented on #294
Rebased.

[2018-03-01 14:25] julienrf commented on #464
Closed by #479.

[2018-03-01 14:25] #464 closed

[2018-03-01 18:22] szeiger commented on #149
Other non-immutable collection types in package object `scala`:

- `type IterableOnce[+A] = scala.collection.IterableOnce[A]`: New, replaces `TraversableOnce`, no immutable version

- `type Iterator[+A] = scala.collection.Iterator[A]`: Like `IterableOnce` this has no immutable version

- `type Iterable[+A] = scala.collection.Iterable[A]`: There is an `immutable.Iterable` but I suggest we keep this

[2018-03-01 18:37] Ichoran commented on #149
Incidentally, if we're going to add immutable iterators, now would be the time to do it.  They're annoying to use because the signature works out to be equivalent to

[code]

which imposes an additional burden of keeping track of the advanced state of the immutable iterator.

But since we're thinking about an enhanced immutable interface, I thought it was worth raising.

Note for those wondering a

[2018-03-01 19:30] SethTisue commented on #149
@szeiger agreed on all points

[2018-03-01 21:18] ruhly commented on #405
It appears the same ambiguous reference issue exists with `flatMap`, `collect`, and `zip` as well?

[2018-03-01 21:55] julienrf commented on #292
Idea of macro benchmark: https://en.wikipedia.org/wiki/Quickhull

[2018-03-01 22:33] julienrf commented on #149
@Ichoran what’s the advantage over pattern matching on `case head :: tail`?

[2018-03-01 22:42] SethTisue commented on #149
could we move the immutable-iterator discussion to a new ticket?

[2018-03-01 22:50] Ichoran commented on #292
Do you mean that we should write a Quickhull algorithm and use its performance as a benchmark?

[2018-03-02 08:12] julienrf commented on #292
Yes, that’s the idea. What do you think?

[2018-03-02 15:31] szeiger commented on #149
Further issues:

- Implicit conversions from `Array` to `Seq` are very common (at least in the compiler codebase). I'll add a deprecated even-lower-priority-than-WrappedArray conversion from `Array` to `immutable.IndexedSeq` that copies the array.

- Should `toSeq` and `toIndexedSeq` always return the immutable version? It would be nicer if `toSeq` actually gave you a `Seq` (and not just a `collec

[2018-03-02 15:39] szeiger commented on #149
This "immutable iterator" looks like a Stream or LazyList to me, assuming `advance` doesn't really advance anything. If it does, it is no longer immutable, just a less efficient mutable iterator.

[2018-03-02 17:37] odd commented on #292
I think it is a great idea. I have been working on an updated version of ArraySeq (f.k.a. Spandex) that is fully specialized. It can be thought of as a hybrid between ImmutableArray (which it behaves as for all non primitive types) and my previous work on Spandex (which it behaves as for all primitive types). I hope to have something ready for review in a couple of weeks (I’m currently working on

[2018-03-02 17:56] Ichoran commented on #149
In brief: immutable iterators don't cache anything (unlike `LazyList`), and are a generalization of head-tail decomposition to collections where tail isn't terribly efficient.  But, yeah, if we wanted to do this we should talk about it on another ticket.

[2018-03-06 07:53] #294 closed

[2018-03-06 09:19] sjrd commented on #149
I wholeheartedly agree with @dwijnand. Everything else in `Predef` is now immutable by default. We should keep `Iterable` immutable as well. When you write code that takes an `Iterable` in Scala, one would first assume that it is immutable. Handling possible mutations under one's feet is tricky, and should be explicit.

[2018-03-07 14:25] #438 closed

[2018-03-07 22:00] #437 closed

[2018-03-08 10:11] julienrf commented on #440
@lrytz Would you mind issuing a PR for that?

[2018-03-08 10:20] #421 closed

[2018-03-08 10:22] lrytz commented on #440
Will do

[2018-03-08 13:27] lrytz commented on #440
Actually this was fixed by https://github.com/scala/collection-strawman/pull/447, that's why I didn't include it in my integration branch PR (https://github.com/scala/collection-strawman/pull/452)

[2018-03-08 13:27] #440 closed

[2018-03-08 22:00] lrytz opened #501 "ArrayOps.groupBy missing"
[code]

used to create a `Map[Boolean, Array[Int]]`

[2018-03-09 13:59] szeiger commented on #405
This appears to be already resolved. The test case from #500 works in master without the explicit `toSortedSet` call.

[2018-03-09 13:59] #405 closed

[2018-03-09 17:58] #403 closed

[2018-03-09 17:58] #402 closed

[2018-03-11 03:25] Ichoran opened #504 "mkString collision between `MapOps` and `IterableOnceOps`"
Let `x` be a map.  Then `x.mkString` complains with stuff like

[code]

[2018-03-11 03:34] Ichoran opened #505 "Queue reverses to ArrayDeque"

[2018-03-11 03:35] Ichoran commented on #505
[code]

[2018-03-11 04:07] Ichoran opened #506 "Queue/ArrayDeque checks bounds too aggressively"
`ArrayDeque` throws exceptions in a variety of cases when empty when there is a very sensible behavior instead.  For instance,

[code]

There are also problems with `copyToArray` and `patchInPlace`.  These issues make it impossible to test `ArrayDeque` (and thus `mutable.Queue`) properly with collections-laws, so there are likely other undiscovered bugs as well.

[2018-03-11 04:53] Ichoran opened #507 "Can't collect on BitSet"
[code]

[2018-03-11 04:55] Ichoran opened #508 "BitSet doesn't know whether to become sorted or not on map to non-Int"
[code]

[2018-03-11 20:28] Ichoran opened #509 "Mutable sets and maps cannot drop elements with `flatMapInPlace`"
[code]

and also

[code]

[2018-03-12 09:10] julienrf opened #510 "Fix unbound references in API documentation"
- [ ] `IterableOnceOps` (introduced in #480) produces a lot of documentation errors. We should check that the documentation variables are always defined before they are used,
- [ ] Also, now `Iterable` inherits from a lot of comments that are relevant to `IterableOnce` only (about the fact that an operation consumes the collection or not). We should override these comments (or redefine the variabl

[2018-03-12 13:45] #214 closed

[2018-03-12 16:14] #433 closed

[2018-03-13 06:59] NthPortal commented on #50
Has any decision been made regarding how this issue will be resolved and/or how the fence operation will end up in the Scala library?

[2018-03-13 08:01] julienrf commented on #50
Not yet, but we should discuss it at some point. Do you have any suggestion?

[2018-03-13 09:08] NthPortal commented on #50
Assuming the fence operation is added, I think Sébastien's point has a lot of merit.

I thought about this because I was looking at some other code which unfortunately cannot be fully immutable, and I wondered if being able to use a fence there could potentially improve thread-safety. I think there are probably at least a few other spots in the library where it could be helpful (I know `Vector` ha

[2018-03-13 11:31] retronym commented on #50
A starting point would be to adopt sebastion’s suggestion to indirect the
fence behind a static call. We can inline that in the jvm back end.

[2018-03-13 11:32] retronym commented on #50
Sébastien's, I mean...
On Tue, 13 Mar 2018 at 21:30, Jason Zaugg <jzaugg@gmail.com> wrote:

[2018-03-13 12:18] #506 closed

[2018-03-13 12:51] #376 closed

[2018-03-13 12:51] #420 closed

[2018-03-13 14:31] alexandru commented on #50
AFAIK a `fullFence` is expensive, as it implies the effects of a `StoreLoad` barrier.

My worry here btw is that the JMM isn't specified in terms of memory fences, but in terms of what reorderings are legal or not. For example the JMM doesn't specify how the memory fences for volatile writes and reads get created, it simply specifies that a write is the "release" and the read is the "acquire" and

[2018-03-13 17:27] ritschwumm commented on #50
to be honest i was  horrified when i first learned scala's widely advertized immutable (and therefore thread safe) collections are in fact not. and since i personally never used a ListBuffer in 10 years, i'm starting to wonder who this hacks are actually relevant for.

[2018-03-13 18:27] Ichoran commented on #50
@ritschwumm - You use `ListBuffer` without realizing it when doing any operation that requires a list to be rebuilt.  Strictly immutable operations generally require building twice (first in reverse order, then in correct order again).

[2018-03-14 00:24] ritschwumm commented on #50
@Ichoran yes, rebuilding it twice is exactly what i'd expect of a List. if i wanted something else, i'd use a different data structure. Vector, for example - but that seems to be broken in a similar way.

now i'd _really_ like to have some general purpose collection i can safely pass between threads without an additional (and easy to forget) synchronization mechanism. preferrably without depending

[2018-03-14 01:48] retronym commented on #50
I'm pretty optimistic that the `fence` approach will be low overhead and something we can (carefully) reason about on the correctness side.

@NthPortal My understanding is that we just need to `storeFence` here because we haven't published any of the the `::` at at that point, so no other thread can load the yet-to-be-stored `tl`. We only need to make sure that any (potential) store of the result

[2018-03-14 03:17] retronym commented on #50
Here's what I have in mind: https://github.com/scala/scala/pull/6425

If anyone is interested in helping with a jcstress test suite, please let me know. I once wrote this one while exploring the thread safety of `java.lang.Method`, which like `Vector` and `::` has some internally mutable machinery.  https://gist.github.com/retronym/d68b202042e346c2fe99fd065d152971

[2018-03-22 21:56] NthPortal opened #520 "Remove empty parameter list from `iterator()`"
There was a discussion on <https://gitter.im/scala/collection-strawman> about whether or not `IterableOnce.iterator()`/`Iterable.iterator()` should have an empty parameter list, or none at all. I will do my best to record the main points of the discussion below.

----------------

(mostly quotes from Gitter)

I ask "Why does `IterableOnce.iterator()` have an empty parameter list, rather than no pa

[2018-03-22 22:11] SethTisue commented on #520
and then @julienrf said "I’m OK to go back to iterator for the sake of backward compatibility."

[2018-03-23 00:12] marcelocenerine commented on #520
This reminds me of this discussion long time ago: https://groups.google.com/forum/#!topic/scala-language/RlV9O1RDmis

[2018-03-23 09:04] odersky commented on #520
The uniform access principle says that `()` is redundant if the operation could have been implemented as a (mutable) field. A more precise way of saying that is that it's OK to drop the `()` for member `m` on value `x` if

    x.m() == x.m()

assuming there are no concurrent calls during the evaluation. So that means `length` _can_ be written without `()` for both mutable and immutable collections

[2018-03-24 05:11] Ichoran commented on #520
But `xs.iterator == xs.iterator` for every extant collection type.  If `xs.iterator` is on an iterator, it is a reference to itself, and iterators are equal to themselves.  If it is on an `Iterable`, the two copies are independent.

[2018-03-24 16:34] odersky commented on #520
Not if we mean `==` literally:

    scala> List(1, 2, 3)
    res0: List[Int] = List(1, 2, 3)

    scala> res0.iterator == res0.iterator
    res1: Boolean = false

That's indeed a problem, but I guess it is part of the understanding that iterators are "use once", so you could argue that `it.toList == it.toList` does not even make sense. By the same token,

    xs.map(f) == xs.map(f)

for every coll

[2018-03-24 18:06] NthPortal commented on #520
It is a more general problem with `IterableOnce` (or `IterableOnceOps`), that (virtually) all of its operations consume it.

The only real way to solve it without breaking the inheritance structure of the collections is to allow overriding the number of empty parameter lists for a method, which seems weird.

[2018-03-25 02:12] Ichoran commented on #520
Oops, I'd forgotten that `Iterator` uses _only_ reference equality.

I agree with the uniform access principle, but I don't think that equality _as a proof_ of uniform access works properly.  Take, for instance,

[code]

These two behave identically with regard to the `bigger` method.  The only difference is that `C` has value equality and `D` has reference equality, so that `c.bigger == c.bigger`

[2018-03-26 11:40] lrytz opened #522 "ListBuffer in inconsistent state after update"
[code]

The `last0` field of `ListBuffer` is not updated.

[2018-03-27 03:25] retronym opened #523 "Uniform approach to serialization across collections"
Before shipping 2.13.0, we should come up with a uniform approach to serialization of collections.

To date, our approach has been -
  - make a collection `Serializable`
  - later, remember to add `@SerialVersionUID` as needed
  - later, switch to custom serialization (`writeObject` or `writeReplace`) to avoid directly serializing the internal structure, allowing us to change internals.

We also n

[2018-03-27 03:37] retronym opened #524 "immutable.{HashMap, ChampHashMap} should use a serialization proxy"
See also #523, which seeks to define a general strategy for serialization

HashMaps need to customize deserialization because element hash codes could be different on the deserizalizing JVM. `immutable.HashMap` has [this in 2.13.x](https://github.com/scala/scala/blob/9291e12004d6c96121467b1468249cb04afede2e/src/library/scala/collection/immutable/HashMap.scala#L102), but it hasn't been ported into

[2018-03-27 03:51] retronym opened #525 "ChampHashMap discards update in collision node where value is ne but == to the value in the existing binding"
The legacy hash map's [collision node](https://github.com/scala/collection-strawman/blob/5b973002e3fff1e7ba65ade82617c21cb37d059f/collections/src/main/scala/strawman/collection/immutable/HashMap.scala#L271) stores hash-sharing entries as a `ListMap[A, B]`. `ChampHashMap` [instead uses](https://github.com/scala/collection-strawman/blob/5b973002e3fff1e7ba65ade82617c21cb37d059f/collections/src/main/s

[2018-03-27 05:51] retronym opened #526 "Prefer new Array over Array.ofDim for non-generic array instantiation"
https://github.com/retronym/collection-strawman/compare/topic/array-of-dim

[2018-03-27 14:17] julienrf commented on #467
Note that `to(List)` also works with `Iterator` and is [supported by the compat library](https://github.com/scala/scala-collection-compat/blob/19deff556cedfbff4a43b8cfbd0256a110f3c7ee/src/test/scala/CollectionTest.scala#L12-L15) in 2.12 as well.

[2018-03-28 15:01] linqing opened #529 "LazyList.iterate Repeated compute head"
scala> def h() = { println("compute head"); 1}
h: ()Int

scala> LazyList.iterate(h())(_ + 1).take(3).toList
compute head
compute head
compute head
res5: List[Int] = List(1, 2, 3)
It's bug or not?

[2018-03-28 16:51] SethTisue commented on #529
I had noticed that some of my `LazyList` based Project Euler solutions were taking forever to run and had intended to investigate... this seems like a likely culprit! /cc @szeiger

[2018-03-29 14:24] lrytz opened #530 "c.dequeueAll has different semantics"
In 2.12, `Queue.dequeueAll` is basically a `filterInPlace`. In current strawman, it's a (kind of) `filterWhileInPlace`.

2.12

[code]

strawman
[code]

[2018-04-03 04:34] NthPortal commented on #520
Can `toArray` actually have empty parentheses, given that it has an implicit `ClassTag` parameter?

[2018-04-03 09:06] julienrf opened #533 "Implement clear() operation in mutable.MapOps"
That was the case in 2.12: https://github.com/scala/scala/blob/v2.12.5/src/library/scala/collection/mutable/MapLike.scala#L187

[2018-04-03 11:48] julienrf opened #534 "Implement subtractOne in mutable.Buffer"
In 2.12 it’s implemented in `BufferLike`: https://github.com/scala/scala/blob/v2.12.5/src/library/scala/collection/mutable/BufferLike.scala#L129-L133

[2018-04-03 13:39] julienrf opened #535 "Cover all the cases that have been removed from enrich-gentraversable.scala"
See https://github.com/scala/scala/pull/6488, which removes the test for array enrichment.

We should add to collections-contrib a test that covers these use cases.

Also, maybe we should move the enrichment machinery to the core instead of leaving it in collections-contrib?

[2018-04-04 09:40] lrytz commented on #535
+1

I think it's important to ship 2.13 with clear instructions (and helpers) how to write extension methods of various levels of genericity.

[2018-04-04 11:30] lrytz opened #536 "Java interop: List<T>.drop doesn't return List<T> in javac's view"
This Java code compiles in 2.11, and also used to work at some point in strawman:
[code]

Currently, it fails to compile with
[code]

Probably has something to do with bounds / erasure of type parameters, or generic signatures.

When fixed, look for `TODO-newColl` in `test/files/pos/javaReadsSigs/fromjava.java` and remove the cast.

[2018-04-04 11:32] lrytz opened #537 "Seq.fold no longer exists"
[code]

works in 2.11

[2018-04-04 12:00] lrytz opened #538 "Iterable.copyToBuffer no longer exists"
It's easy enough to write `buf ++= iterable`, but we should probably deprecate the method first.

[2018-04-04 12:07] lrytz opened #539 "Seq.union no longer exists"
In 2.12, `Seq.union` is a non-deprecated alias for `++`.

[2018-04-04 12:11] lrytz commented on #375
This was fixed in https://github.com/scala/collection-strawman/commit/87b27654d4a5bc811ec957114316f8c596733ec1

[2018-04-04 12:11] #375 closed

[2018-04-04 12:15] lrytz opened #540 "collection.Set no longer has a varargs + method"
https://github.com/scala/collection-strawman/commit/87b27654d4a5bc811ec957114316f8c596733ec1 added a deprecated `+` method to `collection.Set` (also suggested in https://github.com/scala/collection-strawman/issues/375), but only a version taking a single parameter. In 2.12 there's an overload with varags, allowing `s + (1, 2, 3)`. Should we add that (deprecated) overload?

[2018-04-04 12:28] lrytz commented on #540
(ant for collection.Map)

[2018-04-04 12:50] lrytz opened #541 "Stream and LazyList are not serializable"
[code]

Once fixed, re-enable the tests in `test/files/run/serialize-stream.scala`, `test/files/jvm/serialization-new.scala`, `test/files/jvm/serialization.scala` and run`--update-check` (marked with `TODO-newColl`).

[2018-04-04 13:07] lrytz opened #542 "Add deprecated Stream/LazyList.append"
which forwards to `lazyAppendAll`.

[2018-04-04 14:04] lrytz opened #543 "StreamView no longer exists"
In 2.12 there's `StreamView`, which allows things like
[code]

We need to decide if we need to continue supporting this, or if it's just something for the release notes.

https://github.com/scala/bug/issues/3511

In scala/scala, I removed the `test/files/run/t3511.scala` test case. It should be restored (from 2.12.x) if we bring back `StreamView`.

[2018-04-04 14:29] julienrf opened #544 "There is no scanLeft of ArrayOps"

[2018-04-04 14:33] julienrf commented on #538
Note that the rewrite rule [already exists](https://github.com/scala/collection-strawman/blob/master/scalafix/2.13/rules/src/main/scala/fix/Collectionstrawman_v0.scala#L89-L97), but I agree that we should deprecate the method.

[2018-04-04 14:49] julienrf opened #545 "mutable.TreeSet#remove now returns an Option"
Mention that change in migration notes.

[2018-04-04 14:53] julienrf opened #546 "operation `SortedSet#to` has been renamed to `rangeTo`"
We should have a rewrite rule that fixes existing code bases, and we should mention this incompatibility in the migration notes.

[2018-04-04 15:14] Ichoran commented on #546
Which operation `to`?

[2018-04-04 15:26] julienrf commented on #546
In `SortedSet`. I’ve updated the issue title.

[2018-04-04 15:34] Ichoran commented on #546
Then you should change `from` to `rangeFrom` also, for symmetry.  Or switch to `atMost` and `atLeast`, or something.

[2018-04-04 16:55] SethTisue commented on #375
(most people watching this repo probably already know this, but note that https://github.com/scala/scala/pull/6315 deprecates (though does not yet remove) `any2stringadd` and we expect to merge it for 2.13.0-M4 afaik)

[2018-04-04 19:26] lrytz opened #547 "mutable.Stack.reverse doesn't return a stack"
2.12:
[code]

2.13
[code]

Can the override in `ArrayDeque` be implemented to return a `C`?

Once this is fixed, `test/files/run/t4535.scala` needs an `--update-check`.

Side-question: is there a type checking issue? `SeqOps.reverse` is defined to return `C`, and we have `Stack[A] extends ArrayDeque[A] .. with IndexedSeqOps[A, Stack, Stack[A]] ..`. It seems to me the override of `reverse` inherite

[2018-04-04 19:40] lrytz opened #548 "Views are not serializable"
[code]

Once fixed, re-enable the test in `test/files/run/t5018.scala`.

[2018-04-04 20:01] lrytz opened #549 "Re-add (deprecated?) collection.Seq.updated?"
Can work around with `collection.Seq(1).patch(0, List(2), 1)`...

Once fixed, revert fix `TODO-newColl` in `test/files/run/t5328.scala`.

[2018-04-04 20:26] lrytz opened #550 "Stream/LazyList.addString should not force"
In 2.12, stream.addString adds `?` and detects cycles, similar to what `toString` does in the new collections.

Once this is fixed, re-enable tests commented out with `TODO-newColl` in `test/files/run/t8680.scala`.

[2018-04-04 20:35] Ichoran commented on #547
Note also https://github.com/scala/collection-strawman/issues/505

[2018-04-04 21:07] marcelocenerine commented on #548
I brought this up once. See @Ichoran opinion: https://gitter.im/scala/collection-strawman?at=5a7de57e7084124a345909e3

[2018-04-05 08:32] julienrf opened #551 "`remove` operation in `mutable.Set` now returns an `Option`, whereas it used to return a `Boolean`"
This is a source of incompatibility. Do we want to keep returning `Option`? `mutable.Map` does return an `Option`, btw, so maybe this will be more consistent to return an option as well in mutable sets…

To make existing code bases compile with the new collections we can replace calls to `xs.remove(x)` with `xs.remove(x).nonEmpty`, when it appears in expression position. However, it’s not clear to

[2018-04-05 08:50] sjrd commented on #551
What's the use case for `Set.remove` to remove an `Option`? Isn't it always the case that `xs.remove(x) == Some(x)` in cases where it succeeds? In that case, the `Option` does not convey more information than `Boolean`.

The consistency with `Map` argument is void because `m.remove(key)` returns an `Option` of *value*, not of *key*.

I suggest going back to `Boolean`.

[2018-04-05 08:58] julienrf commented on #551
Yes, but `xs.remove(x).forall(removed => x eq removed)` might not be true, though. That’s the only use case I can think of.

[2018-04-05 09:06] sjrd commented on #551
I don't think such an obscure use case is worth breaking compatibility.

[2018-04-05 09:25] julienrf opened #552 "TraversableOnce is missing"
We do have `GenTraversableOnce` but not `TraversableOnce`. We should introduce a deprecated alias to `IterableOnce`.

[2018-04-05 13:36] lrytz commented on #524
There's an old (fixed) ticket for this: https://github.com/scala/bug/issues/1600. I disabled the test case for now. Once this is fixed, `test/files/jvm/t1600.scala` needs to be re-enabled (marked with `TODO-newColl`).

[2018-04-07 11:29] optician commented on #408
It seems issue already have been fixed. Scala project, branch 2.13.x-new-collections.
[code]

[2018-04-09 09:13] julienrf opened #553 "Rename `to` to `as`"
I propose that we rename the `to` method to `as`, to convert a collection into another (or force a view).

[code]

This would have the following advantages:
- no conflicts with the `to` operation of `SortedSet` (which has currently been renamed to `rangeTo`, see #546)
- cross building and migration will be simpler: we can just add the `as` operation to the scala-collection-compat library, like we

[2018-04-09 12:00] szeiger commented on #553
What conflict is there with `SortedSet.to`? It looks like the 2 signatures are different enough to be able to coexist.

IMHO `to` is more appropriate if you only supply a type constructor or factory, i.e. `to[List]` or `to(List)` but `as[List[Int]]` (but maybe that's just because of the strong precedent set by the existing `to` method).

[2018-04-09 12:14] julienrf commented on #553
I don’t remember which one exactly but there was a problem when having two `to` methods, that’s why we had to rename `SortedSet#to` to `SortedSet#rangeTo`. I guess it has something to do with the fact that `to(List)` requires `List` to be implicitly converted to a `Factory[X, List[X]]` (in presence of two alternatives, maybe the implicit conversion is not even tried).

[2018-04-09 13:48] odd commented on #553
FWIW, I think `to` is clearer since modifications to the returned collection doesn't affect the original (or vice versa). If on the other hand modifications to one would affect the other, I'd prefer `as` since (to me at least) "as" signals projection rather than transformation or direction (of course this distinction is only meaningful for mutable collections).

I'm not a native English speaker th

[2018-04-09 14:14] Ichoran commented on #553
I agree with Odd, especially since there is some precedent in `as` being a lightweight view (`asInstanceOf`, `asJava`, etc.) whereas `to` has always been a heavyweight copy at least with collections.

I would not recommend switching from `to` to `as`.

[2018-04-09 14:26] julienrf commented on #553
Do you have another (short) name suggestion?

[2018-04-09 14:28] julienrf opened #554 "`seq` operation has been removed"
It was used to convert a `GenXxx` into a sequential collection. New collections are only sequential, so there is no need for this method, but we should keep it and deprecate it (implementation would just return `this`).

[2018-04-09 14:38] julienrf commented on #554
Other methods that could have the same treatment: `fold`, `reduce` and `scan`.

[2018-04-09 14:39] julienrf commented on #554
We should also implement a rewrite rule that transforms `fold` calls to `foldLeft`, etc.

[2018-04-09 16:34] odd commented on #553
Seeing that the operation really takes a `Factory` and not the target type directly (although all the collections companion objects are such factories, you could provide your own), one could take inspiration from `mkString` (which produces a string from a collection) and call it `mk` / `make` / `makeWith` (other alternatives are `build` / `buildWith` / `produce` / `produceWith`). Another alternati

[2018-04-09 18:10] Ichoran commented on #553
I don't have a suggestion aside from leaving the name as is.  Everyone knows `to` already.  If the compiler for some reason can't distinguish between the different flavors of `to`, I think the place to work on it is the compiler. If it's just because both things erase to `to(Object)`, can't you do the standard implicit disambiguation thing?

[2018-04-10 14:06] julienrf commented on #545
Duplicate of #551.

[2018-04-10 14:06] #545 closed

[2018-04-11 13:31] szeiger commented on #554
The best return type for `seq` would be `C` or `this.type`, making for a very simple implementation in a single place. This doesn't cover `StringOps` though. `"foo".seq` is supposed to return a collection type (so no `C` because that would be `String`) and we don't want `StringOps` to leak into return types (so no `this.type` either).

[2018-04-11 16:16] szeiger commented on #550
There's a very unfortunate asymmetry between `mkString` and `addString` due to the way https://github.com/scala/bug/issues/8680 was resolved. It would be nice to come up with a better solution but OTOH we already have more than enough breaking changes.

[2018-04-11 21:17] optician commented on #408
Tests exist already.
https://github.com/scala/scala/blob/2.13.x/test/junit/scala/collection/mutable/HashSetTest.scala#L39
https://github.com/scala/scala/blob/2.13.x/test/junit/scala/collection/mutable/HashMapTest.scala#L52

[2018-04-11 21:46] julienrf commented on #408
Thanks @optician to have double checked that! I’m closing the issue.

[2018-04-11 21:46] #408 closed

[2018-04-12 14:27] #529 closed

[2018-04-12 14:36] julienrf commented on #547
I think this is fixed in https://github.com/scala/scala/pull/6508.

[2018-04-12 14:36] julienrf commented on #505
I think this is fixed in https://github.com/scala/scala/pull/6508

[2018-04-13 14:28] #537 closed

[2018-04-16 12:40] julienrf opened #555 "Rewrite `--` operation to `&~` or `diff`"
`--` has been deprecated.

[2018-04-16 14:50] julienrf opened #556 "Rewrite `retain` to `filterInPlace`"
The `retain` operation of mutable maps has been deprecated.

[2018-04-17 08:59] #552 closed

[2018-04-17 13:37] julienrf opened #557 "ArrayOps does not have a `view` operation anymore"

[2018-04-17 13:38] #557 closed

[2018-04-17 13:39] julienrf commented on #557
Well, `WrappedArray` provides it.

[2018-04-18 08:32] julienrf opened #559 "Modularize the migration rewrite rules"
So that users can have fine grained control on which rules to apply, if they want to.

See the related discussion here: https://github.com/scala/collection-strawman/pull/528#issuecomment-378255181

[2018-04-18 08:38] julienrf opened #560 "Reorganize repositories"
I think we should:

- move the `collections-contrib` module to its own repository (maybe `scala-collection-contrib` or `scala-collection-extra`),
- move the scalafix rewrite rules to the `scala-collection-compat` repository,
- lock this (`collection-strawman`) repository.

[2018-04-18 13:19] julienrf commented on #553
Actually I was wrong, it *is* possible to have both `to` methods in Scala 2.13, and the overload resolution mechanism can handle the implicit conversion if any.

[2018-04-18 13:19] #553 closed

[2018-04-18 15:53] lrytz opened #563 "Bring back Iterator.duplicate"
The difference to using `View.from(iterator)` is that the view caches all values that are read from the iterator. For the two iterators obtained with `Iterator.duplicate`, only those values that are between the current cursors of the two iterators are cached.

[2018-04-19 09:16] szeiger commented on #551
The new `Set.remove` is more consistent with `Map.remove` and `Set.get`. Both return an Option of the element. I'm on the fence on this one. It may be worth breaking compatibility to improve consistency

[2018-04-19 09:17] lrytz opened #565 "Set.apply / Map.apply don't use SetN / MapN"
[code]

[2018-04-19 09:33] szeiger commented on #546
Fixed in https://github.com/scala/scala/pull/6537

[2018-04-19 09:33] #546 closed

[2018-04-19 09:33] sjrd commented on #551
@szeiger See [my earlier comment](https://github.com/scala/collection-strawman/issues/551#issuecomment-378865132) where I argue that the consistency argument is moot.

[2018-04-19 09:35] #544 closed

[2018-04-19 09:50] szeiger commented on #543
`force` is deprecated, so any changes here would be purely for backwards compatibility. Adding a special `StreamView` type would be a more permanent change. The code can be easily rewritten to `Stream.from(0).view.flatMap(n => List(n, n * 2)).to(Stream).take(6).toList` and you do get a deprecation warning for the version with `force`.

[2018-04-19 09:55] szeiger commented on #540
Also see https://github.com/lampepfl/dotty/pull/4311. We shouldn't use varargs for symbolic operators going forward but it's OK for deprecated methods.

[2018-04-19 10:01] szeiger commented on #536
`drop` was overridden in 2.12. We can do the same in 2.13 for selected methods where this is necessary but we need to determine how much Java compatibility we want to provide.

[2018-04-19 10:28] lrytz commented on #523
cross-link https://github.com/scala/bug/issues/6654 and https://github.com/scala/bug/issues/7005

[2018-04-19 10:49] szeiger commented on #520
It can. Everything looks normal as long as the implicit parameter list stays implicit but you're up for a surprise if you're used to calling with without parentheses and then want to pass in an explicit `ClassTag`:

[code]

[2018-04-19 10:51] szeiger commented on #510
Unassigning myself for now because I haven't gotten around to starting this.

[2018-04-19 11:00] szeiger commented on #508
Needs a dummy override to fix the priorities. It should always pick the `SortedSet` version (because there is no way to do it more intelligently based on the presence of a `ClassTag`).

[2018-04-19 11:08] lrytz opened #566 "We need dev-oriented documentation for M4"
We need to provide developer-oriented documentation for M4 for library maintainers. A go-to document (which can link to other articles) where they can read about the new design, common issues that they might encounter: common changes in user code, common issues with custom collections, tips for cross-building.

https://github.com/scala/collection-strawman/wiki/FAQ

[2018-04-19 11:47] sjrd commented on #551
Also, apparently this is what's needed to make call sites cross-compile:
[code]
And that is *seriously* bad. Pimping `nonEmpty` on `Boolean`!

Please, please, please, revert this incompatibility. This is nonsense.

[2018-04-20 07:49] lrytz commented on #536
I think we can just close this one. The situation is not any worse than in 2.12 per se, methods that are not overridden in have the same issue in 2.12. For example

[code]

[2018-04-20 07:55] lrytz commented on #536
https://github.com/scala/scala/pull/6540

[2018-04-20 07:57] #543 closed

[2018-04-20 09:27] julienrf commented on #308
Fixed by https://github.com/scala/scala/pull/6509

[2018-04-20 09:27] #308 closed

[2018-04-20 09:28] julienrf commented on #149
Reopening because we might want to make `scala.Iterable[+A] = scala.collection.immutable.Iterable[A]` as well…

[2018-04-20 09:29] julienrf commented on #127
Closed by https://github.com/scala/scala/pull/6509

[2018-04-20 09:29] #127 closed

[2018-04-20 09:32] julienrf commented on #539
I would make it deprecated in 2.13 because `++` is already an alias for `concat`. I prefer not having both `concat` and `union`.

[2018-04-20 09:57] julienrf commented on #549
@szeiger We eventually pulled the `+:` and `:+` operations of `collection.immutable.Seq` to `collection.Seq`, without deprecating them.

[2018-04-20 13:20] julienrf opened #567 "ArrayOps doesn’t provide a sliding operation"
A consequence of that is that the one from `WrappedArray` is picked, but this one returns an `Iterator[WrappedArray[A]]`.

See https://github.com/scalaz/scalaz/pull/1730#discussion_r182999064

[2018-04-20 15:15] dwijnand commented on #149
(given the description of this ticket, maybe it's better to create a new one to track that)

[2018-04-20 15:31] julienrf opened #568 "Make scala.Iterable[+A] = scala.collection.immutable.Iterable[A]"
As discussed [here](https://github.com/scala/collection-strawman/issues/149#issuecomment-370710797) we might want to consider having `scala.Iterable[+A] = scala.collection.immutable.Iterable[A]`.

[2018-04-20 15:32] julienrf commented on #149
@dwijnand done!

[2018-04-20 15:32] #149 closed

[2018-04-20 18:36] wibisono commented on #509
@Ichoran I proposed a solution to this since the original implementation seems to never add any element to the `toRemove` variable that supposed to be used to drop elements.

[2018-04-22 00:00] NthPortal commented on #568
Can I get a rationale for this, other than "we changed the other ones"? It seems to me that immutability of an `Iterable` is not necessarily something a person cares as much about; they just care if they can iterate over it.

[2018-04-22 00:02] NthPortal commented on #568
Perhaps it is worth looking at how many places in existing projects users would need to write `collection.Iterable` to maintain their desired behaviour (I'm not sure how to do this).

[2018-04-22 06:06] julienrf commented on #568
One reason I can think of is that having it immutable exposes the safest parts of the language by default. For instance, consider the following program:

[code]

If `Iterable` is `collection.Iterable`, then the above code is unsafe, because one can remove elements from `it` after we have built a `Foo` of it. OTOH, if `Iterable` is `collection.immutable.Iterable` such a risk does not exist.

[2018-04-22 09:50] SethTisue commented on #568
I have misgivings about this as well.

[2018-04-23 08:29] #539 closed

[2018-04-23 08:31] #538 closed

[2018-04-23 08:33] #542 closed

[2018-04-23 08:44] lrytz commented on #522
WIP in https://github.com/scala/scala/pull/6469 / https://github.com/julienrf/scala/tree/fix-listbuffer

[2018-04-23 09:11] #551 closed

[2018-04-23 12:40] lrytz commented on #50
Older ticket: https://github.com/scala/bug/issues/7838

[2018-04-23 15:59] szeiger commented on #568
I'd prefer to keep `Iterable` consistent with `Iterator` and allow mutable collections, too.

Note: If we change this we also need to change `toIterable` to make it consistent. The method currently has a two-fold meaning: Convert to `Iterable` and convert to a proper collection class (i.e. a `scala.collection.Iterable`) for internal use. We'd have to split this up into two separate methods.

[2018-04-23 16:25] szeiger commented on #460
`::` is a case class, not an extractor. But `Seq` is a non-sealed base class so there is no exhaustiveness checking. If anything, this should be a ticket on scala/bug but I doubt we can improve this without lots of false positives. The current behavior is the same as in 2.12.

[2018-04-23 16:25] #460 closed

[2018-04-23 16:27] szeiger commented on #507
probably needs a dummy override to fix the precedence

[2018-04-23 16:31] szeiger commented on #477
I agree that `Seq` is redundant in principle but `Indexed` wouldn't make a good name to replace `IndexedSeq`. Since `IndexedSeqOps` is the ops trait for `IndexedSeq`, it should be called `IndexedSeqOps` and not `IndexedOps`. This is consistent with other ops traits.

I have a slight preference for `IndexedView` over `IndexedSeqView` because `Seq` is redundant and unimportant for the view. OTOH, yo

[2018-04-23 17:51] szeiger commented on #289
IMHO this is unnecessary. Do you ever care about getting the same type as the source collection back without knowing what it was? Either you know what you start with or you know what you want to build no matter what.

(If we should end up doing this https://github.com/scala/collection-strawman/issues/543 needs to be reopened and fixed properly)

[2018-04-23 17:55] Ichoran commented on #289
@szeiger - Very often the choice of collection is made for performance reasons.  Having it be maintained without knowing what it was is usually the performance-friendly option; eager operations on `Seq` have this property.  Losing this property for views is okay, but it is a loss.  (We already deal with this loss with `Iterator`, for instance.)

[2018-04-24 11:06] SethTisue commented on #289
I take your point, but there is a sense in which it also a gain. No longer carrying this information makes it easier to understand what views are and how they behave.

[2018-04-24 12:32] szeiger commented on #21
Closing since we've merged the strawman into 2.13.x.

[2018-04-24 12:32] #21 closed

[2018-04-24 12:33] #536 closed

[2018-04-24 12:36] szeiger commented on #13
It looks like we've settled on a `View` design by now so I'm closing this ticket.

[2018-04-24 12:36] #13 closed

[2018-04-24 13:10] szeiger commented on #27
We're working on both so I'm closing this rather abstract ticket.

[2018-04-24 13:10] #27 closed

[2018-04-24 15:10] SystemFw commented on #277
As requested by @SethTisue , I'm just leaving a link pointing out that we have a small immutable `LinkedMap` in fs2

https://github.com/functional-streams-for-scala/fs2/blob/series/0.10/core/shared/src/main/scala/fs2/internal/LinkedMap.scala

[2018-04-24 18:00] SethTisue commented on #477
I'd suggest favoring consistency here. One less thing to remember.

[2018-04-24 18:24] Ichoran commented on #289
@SethTisue - I agree.  My point was only that it's a tradeoff.  I don't have a strong opinion about which consideration is more important.  Since it is work to make it remember the information, I would lean more towards "forget the underlying type".

[2018-04-25 16:11] julienrf commented on #566
I’ve updated the FAQ, did I forget to mention something? Is it detailed enough?

[2018-04-26 07:59] #475 closed

[2018-04-26 07:59] #547 closed

[2018-04-26 07:59] #505 closed

[2018-04-26 08:06] lrytz commented on #566
It looks really good to me. I'll keep it in mind while working on collections things.

[2018-04-26 08:48] mdedetrich commented on #277
@SystemFw I have been a bit busy, but I will do some benchmarking to see if there are any real performance differences between your implementation and mine here https://github.com/mdedetrich/linked-map

[2018-05-02 15:54] #509 closed

[2018-05-04 04:20] lrytz opened #570 "Setup collections-compat release infra"
Just a ticket here to make sure we have it on the list for M4.

https://github.com/scala/scala-collection-compat/issues/16

Related, we should add to the [FAQ](https://github.com/scala/collection-strawman/wiki/FAQ) how to run scalafix, what rules exist.

[2018-05-04 15:53] SethTisue commented on #548
I think I'm comfortable with not supporting this

[2018-05-04 15:54] SethTisue commented on #541
duplicate of #331

[2018-05-04 15:54] #541 closed

[2018-05-04 15:55] SethTisue commented on #331
Lukas has a few remarks on this at #541 (which I've closed as a duplicate)

[2018-05-05 15:47] SethTisue commented on #197
I've found that `dropWhile` was stack safe in the old collections but not in the new:

[code]

[code]

[2018-05-07 06:10] NthPortal commented on #197
@SethTisue I think that probably deserves its own issue. From a brief look, I think it's a more general problem with nested views (especially since `Stream` is itself lazy). Definitely something which requires looking into on its own, aside from GC friendliness.

[2018-05-07 16:28] SethTisue commented on #197
well this also overflows the stack:

[code]

but that doesn't particularly bother me, it seems acceptable to me that layering views like this would consume stack.

what about `Stream.dropWhile`?

it seems to me that `Stream.dropWhile` consuming stack is a regression. because `Stream` is strict in the head, and `dropWhile` returns a new `Stream`, `dropWhile` must evaluate and discard elements until

[2018-05-07 16:34] SethTisue commented on #197
let me put this on a more concrete plane by showing you the code where I'm hitting this. I'm using `Stream` to implement a memoized cache of composite numbers and their factorizations:

[code]

but I don't want the cache to just grow and grow; as I iterate, I sometimes know that I'm done with some initial segment of the cache. so at those points I do:

[code]

keeping the cache from growing indefi

[2018-05-07 16:58] SethTisue commented on #197
`dropWhile` and `takeWhile` (as well as `drop` and `take`) are interesting operations because they have finite lifetimes. if I `map` or `filter` a stream or lazy list, the function passed needs to be retained indefinitely as part of the returned collection, since no matter how long the list is, we'll need to keep mapping and filtering it.

but once `dropWhile` has found the first counterexample, i

[2018-05-07 17:01] SethTisue commented on #197
oh one more thing: when I look at `LazyList`, I see `filterImpl` has:

[code]

so it looks to me like `dropWhile` and friends just need the same optimization.

[2018-05-07 17:43] som-snytt commented on #197
@SethTisue wasn't there a puzzler in high school physics class about what it would take to get a "concrete plane" off the ground? Re: putting things on a more concrete plane.

[2018-05-07 21:56] SethTisue commented on #197
@som-snytt maybe if Howard Hughes hadn't had Kleenex boxes on his feet he'd have gone that route instead of spruce

[2018-05-08 02:57] NthPortal commented on #197
Should it be overridden in `LazyList` or `LazyListOps`?

[2018-05-08 03:08] NthPortal commented on #197
It's not obvious to me which friends these are. I don't think `take` or `takeWhile` can be overridden in a meaningful way without losing laziness, and I think `drop` (inherited from `LinearSeqOps`) should be fine already.

Also, upon looking at it, it's not clear to me why `drop` is overridden in `LinearSeqOps`, but `dropWhile` is not. Should this fix be moved up the inheritance hierarchy to `Line

[2018-05-08 09:38] javax-swing commented on #197
From what i can tell it's not actually dropWhile but the fact that Stream/LazyList uses the iterator from LinearSeqOps which forces evaluation of the tail on calling next.

  def iterator() = new Iterator[A] {
    private[this] var current: Iterable[A] = toIterable
    def hasNext = !current.isEmpty
    def next() = { val r = current.head; current = current.tail; r }
  }

by forcing the tail, next

[2018-05-08 19:28] javax-swing commented on #197
I believe this is only an issue with Stream as it's not lazy in the head. A quick fix would be a custom iterator that lazily invokes the tail.

[code]

[2018-05-08 23:59] NthPortal commented on #197
@javax-swing that may solve that particular snippet, but it doesn't solve the underlying problem. The problem is that each time you call `dropWhile`, you wrap the `Stream` in `Stream.fromSpecificIterable(View.DropWhile(this))`. Laziness of `head` doesn't really affect blowing the stack, just when it happens.

[2018-05-09 08:09] javax-swing commented on #197
@NthPortal thanks for looking. thinking about it now I'm not sure that I'm correct. you make a good point that the Stream is wrapped on each call, it's possible the laziness in the head merely hides the problem at that point. I wonder what would happen when calling `next.head`  or `next.tail.head` with a `LazyList`?  as this would force the value from all the nested Streams (maybe). in any case it

[2018-05-09 16:33] #550 closed

[2018-05-10 14:24] #570 closed, assigned to lrytz

[2018-05-10 14:25] #566 closed

[2018-05-10 14:28] lrytz opened #571 "add `()` to `toArray`"
See https://github.com/scala/collection-strawman/issues/520#issuecomment-375586799

[2018-05-10 14:29] lrytz commented on #520
It seems there's an agreement to follow @odersky's strategy https://github.com/scala/collection-strawman/issues/520#issuecomment-375586799. So I'm closgin this, created https://github.com/scala/collection-strawman/issues/571 for `toArray`

[2018-05-10 16:50] NthPortal commented on #520
@lrytz I'm not as convinced of this agreement - I haven't seen anyone address @Ichoran's points

[2018-05-11 04:28] NthPortal commented on #520
To generalize what @Ichoran said, any method on a `scala.collection.CollOps[A, CC[_], C]` which returns a `C` or a `CC[_]` is going to have this problem.

[2018-05-11 04:58] lrytz commented on #520
Thanks for the good examples!

Do we all agree that we don't want to add `()` to `tail`/`flatten`/`empty` etc?

Can we just say "add `()` if the method can perform side effects"? That's what @Ichoran seems to suggest (PR description, last paragraph).

`Iterator.next()`, `println()`, but `.iterator`, `.tail`, `.empty`, `.toArray`, `.toList`. I personally like it to have `()` as a sign that a side e

[2018-05-11 04:59] lrytz commented on #571
(on hold, discussion continues on #520)

[2018-05-11 04:59] #571 closed

[2018-05-11 05:09] lrytz commented on #520
It leads to the question what is a side effect. Referential transparency is not a useful answer here, as we're working with mutable state. Effects are IO, observable state changs (changes to local / newly allocated state is not an effect, niether is updating a cache). Exceptions are excluded (`.head`).

[2018-05-11 05:25] SethTisue commented on #520
Yes, please. This how I've understood and taught `()` for more than a decade now, and it's how I see others understanding and teaching it, too.

I dislike `iterator()` and `toArray()` — both direct dislike, _and_ dislike of the migration annoyance we will cause people if we do this.

[2018-05-11 07:40] lrytz commented on #520
https://github.com/scala/collection-strawman/issues/520

[2018-05-11 07:41] lrytz commented on #520
https://github.com/scala/scala/pull/6620

[2018-05-11 13:38] SethTisue opened #572 "resolve status of `scala.collection.immutable.useBaseline`"
the new `immutable.Set` and `immutable.Map` implementations provide a `scala.collection.immutable.useBaseline` system property that let you flip back to the old code

if people notice regressions, especially performance regressions, when they move to M4, it might be nice to provide a switch they can flip to go back to the old Set and Map implementations to quickly see if that’s the culprit

whethe

[2018-05-11 14:10] SethTisue commented on #572
(scala/scala#6623 makes it an environment variable instead of a system property, for Scala.js friendliness)

[2018-05-11 15:50] SethTisue commented on #572
Sébastien [notes](https://gitter.im/scala/contributors?at=5af5b5305a1d895fae315eec) that removing the old implementation in time for 2.13 final will save nearly 10% on Scala.js's baseline code size.

[2018-05-11 18:28] Ichoran commented on #520
Methods on `Random` change the instance of the class, so they should have `()` under any scheme we've discussed!  Likewise with `Builder.result()`--the behavior after calling it is undefined (or defined if it's a `ReusableBuilder`, but you still shouldn't call it again).

[2018-05-13 15:00] #563 closed

[2018-05-14 06:07] #549 closed

[2018-05-14 07:01] msteindorfer commented on #572
@SethTisue the intention of `immutable.Champ(HashSet|HashMap)` is to replace the old `immutable.(HashSet|HashMap)` altogether. Since these collections are widely used, I introduced the flag for easy performance regression testing once `collection-strawman` is included in `Scala 2.13.0-M4`. As you already mentioned my plan was that the flag and the old collections get removed after people are using

[2018-05-14 10:05] dwijnand commented on #568
Shouldn't we bias that what they're iterating isn't changing under their feet?

Nothing stops them from using `scala.collection.Iterable` if they want to abstract over immutable and mutable collections.

[2018-05-14 11:33] #554 closed

[2018-05-14 12:05] #520 closed

[2018-05-14 16:14] #567 closed

[2018-05-15 02:13] linqing opened #573 "IterableOnce.scala: def toSet[B >: A]: immutable.Set[B] should be def toSet: immutable.Set[A]"

[2018-05-16 01:38] linqing commented on #573
gitter log: @SethTisue
May 15 14:30
@linqing if immutable.Set were covariant like you might expect, then for .toSet to allow widening wouldn’t be necessary. but immutable.Set is invariant; see https://stackoverflow.com/q/676615/86485 . I don’t know if it was considered making it covariant for 2.13; there might still be (just enough?) time for that
the widening behavior of .toSet is one of the comp

[2018-05-16 23:33] NthPortal commented on #573
I'm going to close this based on Seth's comment, but it can certainly be reopened if `Set` becomes covariant or something else relevant changes. Thanks for bringing it up though!

[2018-05-16 23:33] #573 closed

[2018-05-19 10:08] szeiger commented on #331
Serializing unevaluated thunks is probably a bad idea but it should at least be possible to perform cycle detection so you could serialize cyclic streams but not infinite ones.

[2018-05-23 15:57] szeiger commented on #331
Just looking it this again. Serializing unevaluated thunks is apparently what we did in 2.12 and not such a bad idea after all. It will make streams like `Stream.from(1)` serializable. I can only guess what @eyalfa's plan for serialization of forced streams was but the only solution I can think of is to start with a proxy and switch back to regular serialization when you hit the unevaluated part.

[2018-05-23 20:05] eyalfa commented on #331
@szeiger , my plans (back at the time, when I has some time) were to serialize the value if available or the closure otherwise,
this forced me to modify the LazyList class to represent the closures as `()=>A` instead of `=>A`, at this point I hit what seemed to be a change of behavior when some of the tests started failing, funny thing was the tests didn't make sense in the first place and were ac

[2018-05-24 07:48] isaias-b commented on #338
What about this kind of interface?
[code]

That allows to use:
[code]

However, i am not a DSL expert maybe this can be implemented without an extra inner `object`?

[2018-05-24 09:02] joroKr21 commented on #338
No, but the usability is almost the same (modulo `_`)

[2018-05-25 08:17] #331 closed

[2018-05-25 08:17] #523 closed

[2018-05-25 08:17] #524 closed

[2018-05-28 14:26] #548 closed

[2018-05-28 14:27] szeiger commented on #469
This appears to be fixed

[code]

[2018-05-28 14:27] #469 closed

[2018-05-28 20:38] #350 closed

[2018-05-29 14:22] #507 closed

[2018-05-30 14:05] #504 closed

[2018-05-30 15:56] #565 closed

[2018-05-30 16:42] #540 closed

[2018-05-31 13:48] SethTisue commented on #306
for the record, I failed to make one of the main arguments I should have made here, which is that extending `A => Boolean` forces `immutable.Set` to be invariant, which is sad. I would like immutable sets to be covariant, like `immutable.List`s are.

[2018-06-01 12:33] #197 closed

[2018-06-06 12:30] szeiger commented on #461
Assigning to backlog to reconsider for 2.14

[2018-06-06 12:30] szeiger commented on #292
Assigning to backlog to reconsider for 2.14

[2018-06-06 12:37] julienrf commented on #404
I think the new behavior is more intuitive, but we should document that breaking change in the FAQ.

[2018-06-06 12:39] szeiger commented on #367
It's getting too late in the 2.13 release cycle for this but it would be nice to reconsider it for 2.14.

[2018-06-06 12:52] julienrf commented on #281
I’m closing this issue because I think it would be a too big change compared to the benefits it would bring.

[2018-06-06 12:52] #281 closed

[2018-06-06 13:03] szeiger commented on #164
Let's see what Dotty does about this and maybe implement it in 2.14.

[2018-06-06 14:40] szeiger commented on #473
Discussed with @julienrf and @lrytz today and we agree with deprecating these methods. But they're actually new, right? In this case we should remove them immediately.

[2018-06-06 14:46] szeiger commented on #359
Sequences have `append` and `prepend` (plus `*All` versions and symbolic aliases). `addOne` is inherited from `Growable` where no sequential order can be assumed. I think the right course of action is to un-deprecate `append`. It makes sense for sequences to have symmetrical `append` and `prepend`. `+=` is actually an alias for `addOne`, not for `append`. This blurs the distinction between ordered

[2018-06-06 15:45] shado23 commented on #322
I just read about the approaching feature freeze for 2.13. I assume that means unboxed Options likely won't make it in? It would be great to have null-safety without the performance impact it currently has. Since the implementation has been battle tested in Scala.js for some time the risks should be manageable.

[2018-06-06 16:11] sjrd commented on #322
It hasn't. Scala.js uses the same `Option` as Scala/JVM.

[2018-06-06 16:13] shado23 commented on #322
Ah, my mistake. Thanks for clearing this up.

[2018-06-06 17:35] Ichoran commented on #473
Yes, they're new.  Everything `InPlace` is new.  If these are to go, and I think they should, we can just delete them.

`mapValuesInPlace` should stay (or be created--I forget if it's there).

[2018-06-06 20:00] SethTisue commented on #322
I suggest we just close this ticket as it isn't actually about collections. (And this entire repo is winding down anyway.)

[2018-06-07 04:45] nicolasstucki commented on #322
Yes, we should close it. This is not the place for this experiment anymore.

[2018-06-07 04:45] #322 closed

[2018-06-07 08:02] julienrf commented on #247
Continued here: https://github.com/scala/bug/issues/10934

[2018-06-07 08:02] #247 closed

[2018-06-07 09:17] kubukoz commented on #339
I think I could try implementing this. I'll need a moment to get familiar with the codebase though :)

[2018-06-07 10:01] martijnhoekstra commented on #339
Is there a reason to prefer `replaced: B` over `replaced: A`? Do you really want to call `List(1, 2, 3).replace("foo", "bar")`?

[2018-06-07 11:29] shado23 commented on #322
Is there another open ticket that replaces this to keep track of this? Otherwise it seems premature to me to just close it.

[2018-06-07 11:51] kamilkloch commented on #471
I will give it a try.

[2018-06-07 12:16] odd commented on #339
@martijnhoekstra Hmm, don't you mean `elem: A` rather than `replaced: A`?
[code]
Unfortunately neither `elem` nor `replaced` can be of type `A` since that would put a covariant type in a contravariant position (`A` is defined as `+A` in `SeqOps`).

@julienrf On a different note, shouldn't `replaced` rather be called `replacement`?

[2018-06-07 12:20] julienrf commented on #339
I think the method should be named `replaced` (past tense) and the replacement value should be named `replacement`, indeed @odd.

[2018-06-07 12:34] aleks-sidorenko commented on #338
`lengthEquals, lengthMoreThan, lengthLessThan`

[2018-06-07 12:44] kubukoz commented on #339
Apparently @purijatin is working on this ;)

[2018-06-07 14:14] kubukoz commented on #339
WDYT about adding a `replacedOnce` (or something like that)` variant? I'm aware that `updated` exists, but it takes an index, whereas I can imagine a common usecase being `replace(indexOf(...), with)`.

[2018-06-07 16:00] erikerlandson commented on #471
What is the contract for this? Provided for any subclass that allows sub-linear sorting, without constructing a copy?  For example a linked list can be sorted in sublinear time using merge sort, but can it be done without creating a copy of the input?

[2018-06-07 16:13] kamilkloch commented on #471
@erikerlandson What do you mean by sublinear time for sorting?
For me, sortInPlace make sense only for collections with fast rndom access, in our case `IndexedSeq`. What do you think?

[2018-06-07 16:32] erikerlandson commented on #471
@kamilkloch I mis-spoke there, but basically "not greater than n-log-n cost" was what I was getting at.

@Ichoran mentioned "mutable.Seq or mutable.IndexedSeq" above - and maybe I am reading too much into it but mutable.Seq includes ListBuffer, which you _could_ sort with merge sort in n-log-n time, but it might involve copying original nodes, like `mapInPlace` appears to do.

So there are possibl

[2018-06-07 23:16] markus1189 commented on #241
I am interested, will give it a try soon

[2018-06-08 02:51] NthPortal commented on #338
Are most people happy (or at least okay) with Sébastien's suggestion?

[2018-06-08 03:04] SethTisue commented on #338
I like Sébastien's suggestion best.

[2018-06-08 03:11] NthPortal commented on #471
Since sorting in place doesn't make sense for a lot of (most?) `mutable.Seq` implementations, where is the method defined? On all `mutable.Seq`s, and it's documented as just a best-effort thing? Or only on particular implementations for which it makes sense?

If we follow Java's strategy (copy to an array, sort the array, and copy back), it could have a reasonable default implementation for most/a

[2018-06-08 05:08] mhalttu commented on #338
I guess Sébastien is https://github.com/sjrd and his suggestion is

I personally find that syntax a bit ugly. In my opinion we should avoid partially symbolic method names. Do we have examples of similar style elsewhere in the project?

I preferred aleks-sidorenko's `lengthEquals, lengthMoreThan, lengthLessThan` because it captures the same idea but looks cleaner (albeit slightly more verbose).

T

[2018-06-08 05:29] NthPortal commented on #338
I have actually thought of a way to do @isaias-b's suggestion without having to allocate an object.

[code]

Thoughts?

[2018-06-08 05:52] mhalttu commented on #338
How often do you need `lengthCompare(n) >= 0` or `lengthCompare(n) <= 0`? I would imagine `lengthCompare(n) == 0` is by far the most common use case.

How about simply implementing `lengthEquals` method for now?

[2018-06-08 07:36] julienrf commented on #241
FYI I’ve used `splitWith` as a test in this PR: https://github.com/scala/scala/pull/6674/files#diff-1ac5384a2a49471ae923396b6ee3f269R47

[2018-06-08 10:30] kamilkloch commented on #471
Assumption: we do not intend to reimplement sorting, but rather rely on its implementation in Java.

Then: sorting in place (in my understading = without any allocations) is possible only for mutable collecttions which are backed by `scala.Array`, i.e.
 * `mutable.ArrayBuffer`
 * `ArrayDeque`
 * `ArraySeq`

In all 3 cases, `scala.Array` is internalized in the respecitve classes.

How do we want to

[2018-06-08 12:50] erikerlandson commented on #471
I think providing it for array backed classes is a reasonable start. It's better to decide policy on other classes later, than provide them and regret it.

OT, if "in place" is "no allocations" I do wonder about `mapInPlace` for `ListBuffer`

[2018-06-08 15:04] szeiger commented on #322
There doesn't seem to be a ticket on https://github.com/scala/bug/issues. I suggest opening one there if we want to track this for Scala but since this is being experimented with in Dotty I don't think we'd do anything about it in the remaining Scala 2.x releases until this feature gets merged into Dotty.

[2018-06-08 15:10] nicolasstucki commented on #322
Currently there is no one working on it in Dotty.

[2018-06-08 17:27] Ichoran commented on #338
I like symbols more than practically everyone (I always use `/:` for instance), but the alphanumeric-symbolic hybrid suggested here seems really unfriendly to me.

I think `lengthAtLeast` and `lengthAtMost` work slightly better than `lengthLessThan` and `lengthMoreThan` because of overflow (`lengthLessThan(n+1)` is bad news when `n` is `Int.MaxValue`).

The other option to consider is `takeLength(

[2018-06-09 07:14] sjrd commented on #338
We have `List.reverse_:::`, which is named as such because `xs reverse_::: ys` is semantically equivalent to `xs.reverse ::: ys`, but faster.

Likewise, `xs length_> 2` would be semantically equivalent to `xs.length > 2`, but faster.

So we have a very very close precedent for my suggestion.

[2018-06-09 07:29] Ichoran commented on #338
`reverse_:::` is only named as such to get right-to-left evaluation, isn't it?

[2018-06-09 07:38] sjrd commented on #338
No that's not necessary. It could have been called `reverseAndPreprendTo` and the implementation would just have swapped `this` and `that`.

[2018-06-10 03:36] NthPortal commented on #471
`java.util.Arrays.sort` is [not in-place](https://docs.oracle.com/javase/8/docs/api/java/util/Arrays.html#sort-T:A-java.util.Comparator-):

[2018-06-10 03:41] NthPortal commented on #471
I think `sort` (similar to Java's [`List.sort`](https://docs.oracle.com/javase/8/docs/api/java/util/List.html#sort-java.util.Comparator-)) would be a better name, but I'm concerned about confusion between it and `sorted`.

[2018-06-11 07:32] julienrf commented on #471
Also, I think it would make sense to have it on `mutable.Seq` as well: we could use a merge sort on `LinearSeq`.

[2018-06-11 13:32] julienrf commented on #404
Done.

[2018-06-11 13:32] #404 closed

[2018-06-11 14:05] #556 closed

[2018-06-11 16:31] markus1189 commented on #241
@julienrf Is it still supposed to be in `collections-contrib` and inside a `SeqDecorator` as it was originally?  Seems like a lot of the stuff there was deleted.  Where did you use `splitWith` in that pr?  It's not there, or I am blind :wink:

Also, where can I find the `IsSeqLike`?

[2018-06-12 06:34] julienrf commented on #241
Oops, I’ve updated the PR yesterday and renamed it to `groupedWith`: https://github.com/scala/scala/pull/6674/files#diff-1ac5384a2a49471ae923396b6ee3f269R80

Here is the story about `IsSeqLike`. It’s part of the standard library but in collections-contrib we have something similar named `HasSeqOps`. The goal of the PR I linked is to unify them.

The idea I have in mind would be for you work to tar

[2018-06-13 16:49] kamilkloch commented on #471
@julienrf Please take a look.

[2018-06-15 09:45] LPTK commented on #241
Here's another naming quibble!

I think the names `splitWith` and `selectSplit` are terrible!

 * `selectSplit` should be called `runsWhere` as it splits a sequence into runs where a predicate is true;

 * `splitWith` sounds like it would do like `String`'s `split` but using an element predicate instead of an actual character (as in `"ab$cd$efg".splitWith(notLetter) == Seq("ab","cd","efg")`); mayb

[2018-06-15 09:51] julienrf commented on #241
We have precedent for an operation returning consecutive subsequences: `grouped`. I think we should use `grouped` instead of `runs`.

[2018-06-15 10:03] LPTK commented on #241
It's unfortunate, because the "group" terminology does not conceptually imply "consecutive-ity", which is a central property here. This is exacerbated by other methods like `groupBy` also talking about groups, but groups that are _not_ consecutive!

In fact, it's also a useful operation to get consecutive groups sharing the same result by some function. How would you call it, then, given that `gro

[2018-06-15 13:12] joroKr21 commented on #241
They are also similar to `partition` :smile: How about:

| Scalaz | collections |
|-|-|
| `splitWith` | `partitionAll` |
| `splitBy` | `partitionGroup` |
| `selectSplit` | `partitionFilter` |

[2018-06-15 15:06] lrytz commented on #432
https://github.com/scala/scala/pull/6809

[2018-06-15 16:40] Ichoran commented on #241
@joroKr21 - I think you mean `span`, not `partition`.  `partition` does not respect order.

Anyway, `split` is more appropriate for a name because that's already what it means for `String`.

If we want semantics substantially different from those in `String`, we may wish to use another word, especially if it collides with the `split` name on `String`.  Note that `String` split drops the characters

[2018-06-15 19:33] #432 closed

[2018-06-16 08:20] joroKr21 commented on #241
Yes, I meant `span`... I keep confusing these two methods and for the life of me I can't remember which is which.

If `split` is chosen then it should do the same thing as `String.split` - It should drop the element we split on, but also the (inconsistent IMO) way it handles empty substrings:

[code]

I would also be happy with `groupedWith`, `groupedBy` and `groupedFilter`, but then `groupBy` vs

[2018-06-17 13:37] hochgi commented on #235
Very usefull. Would love to see it in std lib.
I usually know this as `partitionWith`:
https://github.com/akka/akka-stream-contrib/blob/master/contrib/src/main/scala/akka/stream/contrib/PartitionWith.scala
https://gist.github.com/hochgi/c8ee3273034fff8958d306459072fb22#file-partitionwith-scala

[2018-06-19 18:11] #359 closed

[2018-06-19 18:12] #534 closed

[2018-06-20 08:35] alex1712 commented on #426
Hello, I am trying to collaborate for first time.

I thought this could be an easy start. As I understand by the comments the final decision would be to implement it as `xs intesects ys` returning a boolean if any of the element is present in both sets.

I would think of implementing this in scala.collection.SetOps. Maybe I am too optimistic here, but this change should be a one line change there.

[2018-06-20 09:45] buzden commented on #426
In ``SetOps`` it looks really simple, yes.

But it can be implemented in much more effective way in special set implementations like ``TreeSet``.

[2018-06-20 11:02] alex1712 commented on #426
I might be completely wrong, but if I implement it as following:
[code]
and as the `contains` method is in `TreeSet` wouldn't that be enough?

[2018-06-21 09:30] #467 closed

[2018-06-21 10:15] buzden commented on #426
Well, generally you can implement ``intersects`` without any knowledge of internals of sets both as ``this exists that`` and ``that exists this`` (``this exists that`` is a short form for ``this.exists(that.apply)``, which is equivalent to your ``this.exists(that.contains)`` for ``Set``s).

Not knowing how iteration and ``exists`` method is implemented, we can bound computation time approximately

[2018-06-21 10:29] buzden commented on #426
Moreover, it seems that we can implement _linear_ overloaded implementation, e.g. for `SortedSet`s (i.e. those one in `SortedSetOps` that accepts another `SortedSet` as its argument)

[2018-06-21 11:48] alex1712 commented on #426
As I check TreeSet `size` method has a O(1) complexity, so I could add a check to use `that` as left side when `this` is bigger than `that`.  With the assumption that `exists` will have always a bigger complexity as the lookup of `contains`.

Makes sense?

[2018-06-21 12:39] buzden commented on #426
Looks so.

[2018-06-22 07:44] #338 closed

[2018-06-22 12:49] julienrf commented on #533
Closed by https://github.com/scala/scala/pull/6823

[2018-06-22 12:49] #533 closed

[2018-06-22 13:24] julienrf commented on #34
I think an *unfold* library could be implemented separately.

[2018-06-22 13:24] #34 closed

[2018-06-22 13:34] julienrf commented on #277
Hey @mdedetrich, we are really close to feature freeze the collections but your contribution would be warmly welcome. Do you think you would have time to make it soon?

[2018-06-22 16:08] julienrf commented on #559
Superseded by https://github.com/scala/scala-collection-compat/issues/56

[2018-06-22 16:08] #559 closed

[2018-06-22 16:33] mdedetrich commented on #277
@julienrf It took a bit longer than expected because the structure of the collections is quite different to the original scala collections. I am going to start benchmarking now, hopefully will be able to open a PR this weekend

[2018-06-23 20:51] NthPortal commented on #339
Is there anywhere it should be overridden for performance?

[2018-06-26 04:53] NthPortal commented on #367
It doesn't seem to me like it ought to be that difficult to change. Currently, the two concrete subclasses of `LazyList` (like `List`) are `Empty` and `Cons`. It doesn't seem that far-fetched to me to add an `Unknown` subclass of some sort which doesn't know what it is yet, but will resolve to an `Empty` or `Cons` (probably via wrapping) once it does know whether it has elements.

[2018-06-26 04:58] NthPortal commented on #367
I'm not sure that deferring computation of whether or not the `LazyList` is empty to iteration time will enable non-blocking IO - at the end of the day, the lines are either there when you try to compute them or not. Please correct me if I'm misunderstanding

[2018-06-26 05:10] sjrd commented on #367
Well for one, it can't be a sealed trait with two concrete subclasses for empty and non-empty, since that immediately requires to synchronously decide which subclass to return.

Instead, the definition of `LazyList` should look like the following:
[code]
or something else with equivalent expressivity.

The good news is that the public API should be mostly unchanged, except that of course we need a

[2018-06-26 05:16] NthPortal commented on #367
I think `from[A](IterableOnce[A]): LazyList[A]` does that pretty trivially. Just wait to call `hasNext` on the iterator.

[2018-06-26 05:16] sjrd commented on #367
@NthPortal it won't be *non-blocking* I/O in the sense that it's all using asynchronous I/O without locks, of course. But at least you can actually make the start of I/O operation lazy, like the rest of it.

But that's not even the point. This problem is not related to I/O. It's much larger than that! If you call `xs.filter(f)` where `xs` is a `LazyList`, you would expect the call to be lazy and i

[2018-06-26 05:21] NthPortal commented on #367
Potentially we could just tweak `Deferrer` to be a subclass of `LazyList`?

[2018-06-26 07:22] #339 closed

[2018-06-27 04:58] tonymorris opened #574 "Main criticism"
https://www.scala-lang.org/blog/2017/05/30/tribulations-canbuildfrom.html

----

FYI, this is not the main criticism. The main criticism is that it has (almost) no fundamental principles from which to build abstractions and that those that do exist had already been done better before `CanBuildFrom` even came to exist.

The primary purpose of an abstraction such as `CanBuildFrom` is to maximise the

[2018-06-27 05:18] NthPortal commented on #574
This isn't really an issue with the new collections (which should be created in [scala/scala](https://github.com/scala/scala) at this point anyway). At best, it's an issue for [scala/scala-lang](https://github.com/scala/scala-lang), but I think changing a blog post from over a year ago would require some discussion first over on [contributors.scala-lang.org](https://contributors.scala-lang.org/).

[2018-06-27 05:32] #574 closed

[2018-06-27 13:52] SethTisue commented on #574
("the main" could be interpreted as either "the most common" or "the most serious". the scary-type-signatures criticism is certainly the most common; perhaps that's all @julienrf meant.)

[2018-06-27 13:58] SethTisue commented on #574
locking, since (as @NthPortal indicates) we're in the process of closing out the issues in this repo.

[2018-06-27 14:36] SethTisue commented on #310
this seems not to have garnered sufficient support.

[2018-06-27 14:36] #310 closed

[2018-06-27 14:38] SethTisue commented on #426
I still lean towards _not_ adding this. Am I an outlier?

[2018-06-27 14:39] SethTisue commented on #289
looks like this isn't happening.

[2018-06-27 14:39] #289 closed

[2018-06-27 14:40] #472 closed

[2018-06-27 14:40] #303 closed

[2018-06-27 14:43] SethTisue commented on #155
closing since we are in the process of shutting down this repo. regardless, this could still go forward in some form.

personally, I think docs.scala-lang.org would be an appropriate place for this, but perhaps there's no consensus in the best location.

[2018-06-27 14:43] #155 closed

[2018-06-27 14:44] SethTisue commented on #47
this isn't going to happen for 2.13. closing the ticket since we are (gradually) shutting this repo down, but perhaps the idea still has a future.

[2018-06-27 14:44] #47 closed

[2018-06-27 14:45] SethTisue commented on #98
not happening for 2.13. closing the ticket since we are shutting down this repo, but perhaps the idea still has a future.

[2018-06-27 14:45] #98 closed

[2018-06-27 14:46] SethTisue commented on #15
not happening for 2.13. perhaps the idea still has a future. regardless, closing the ticket since we are in the process of closing out this repo.

[2018-06-27 14:46] #15 closed

[2018-06-27 14:48] SethTisue commented on #264
I think we have sufficiently discussed the general issue here. if there are remaining proposals to add/remove specific operations or specific collections, they can have their own tickets.

[2018-06-27 14:48] #264 closed

[2018-06-27 14:49] SethTisue commented on #442
one specific performance minus is being investigated at https://github.com/scala/scala-dev/issues/525

[2018-06-27 15:02] alex1712 commented on #426
For me is no problem not merging it, I thought, as it had the tag for the next Milestone, that it was decided to put it in.

Feel free to discard the PR it you think it is too much for the standard library. This PR helped me to start collaborating anyway :)

Thanks

[2018-06-27 16:02] Atry commented on #15
@SethTisue Does "not happening" mean "not removal of `Traversable`"?

[2018-06-27 16:04] julienrf commented on #15
No, it means “no re-introduction of `Traversable`”.

[2018-06-27 16:14] Atry commented on #15
Is there any difficulty to keep source-level backward compatibility here?

[2018-06-27 19:28] NthPortal commented on #310
This seems like a good candidate for collection-contrib

[2018-06-29 09:16] julienrf commented on #15
`Traversable` is defined as a deprecated alias to `Iterable`.

[2018-06-29 12:34] jvican commented on #98
Given the interest of implementing [qualified types in Dotty](https://dl.acm.org/citation.cfm?id=2998398), I think this makes sense.

[2018-07-03 01:49] chrisphelps commented on #510
I'd like to take a look at this one. I should get to it in the next couple of days.

[2018-07-03 11:43] julienrf commented on #555
Duplicate of scala/scala-collection-compat#28

[2018-07-03 11:43] #555 closed

[2018-07-03 11:45] #471 closed

[2018-07-03 12:47] adriaanm commented on #367
Let’s fix this. This is our shot at fixing Stream

[2018-07-03 12:48] mdedetrich commented on #367
Strongly agreed, I would rather fix this properly now. The current collections already have a bad enough rep for our broken `Stream` type, we really shouldn't repeat history in this regard

[2018-07-04 16:54] szeiger commented on #339
Both the implementation in contrib and the open PR https://github.com/scala/scala/pull/6752 make me question the utility of this method as they only provide a default implementation with a simple translation to `map`. Are there any Seq types that would allow a more efficient implementation (which could not be generalized to `map`)?

[2018-07-12 11:10] #473 closed

[2018-07-19 17:47] #325 closed

[2018-07-21 16:13] jvican commented on #155
I ported this to https://github.com/scala/docs.scala-lang/issues/1107.

[2018-08-07 02:27] #426 closed

[2018-08-07 02:28] SethTisue commented on #426
thanks @alex1712 for your understanding

[2018-08-10 18:00] #367 closed

[2018-08-15 15:57] #235 closed

[2018-08-15 15:58] SethTisue commented on #525
what's the status here?

[2018-08-16 19:28] #535 closed

[2018-08-18 16:44] julienrf commented on #235
@LPTK You can issue a PR, yes.

[2018-08-18 22:48] SethTisue commented on #221
we ended up adding `lazyZip` instead

[2018-08-20 01:45] retronym commented on #525
Ah, I was wondering where this ticket went :)

I've fixed this already over in scala/scala.

[code]

[2018-08-20 01:45] #525 closed

[2018-09-11 18:13] SethTisue commented on #572
I made a start on this at https://github.com/sethtisue/scala/tree/champ-is-the-champ, thinking it would be straightforward, but it turns out there are still tests referencing OldHashMap/OldHashSet, somebody needs to take a close look at this tests and decide whether to have them use the new structures instead, or just delete them as no longer relevant. volunteer?

[2018-11-16 16:29] SethTisue commented on #442
I think is considered resolved now? reopen if you disagree  /cc @szeiger @retronym

[2018-11-16 16:29] #442 closed

[2018-11-16 16:30] SethTisue commented on #311
"Document better the differences between views, iterators and lazylists", says https://github.com/scala/collection-strawman/issues/466 (closing, consolidating here)

[2018-11-16 16:31] SethTisue commented on #466
consolidating under https://github.com/scala/collection-strawman/issues/311

[2018-11-16 16:31] #466 closed

[2018-11-16 16:32] SethTisue commented on #572
scala/scala@5762002498cb9c6c1a973267df1056c949f4e6d5

[2018-11-16 16:32] #572 closed

[2018-11-16 16:33] SethTisue commented on #522
@lrytz are you planning on finishing this one up?

[2018-11-18 03:56] lihaoyi commented on #277
for mutable collections don't we already have `mutable.LinkedHashMap`?

[2018-11-23 11:50] #510 closed

[2018-11-30 08:52] NthPortal commented on #277
While there is a `mutable.LinkedHashSet`, there is no `SeqSet` trait in either the `mutable` or `immutable` package, and I don't believe there is an immutable `Set` with sequential ordering (I realise that was not the original intent of the ticket).

[2019-02-20 22:23] SethTisue opened #576 "close or transfer all open issues and archive the repository"
and update the readme

[2019-02-20 22:28] SethTisue commented on #328
https://github.com/scala/scala-parallel-collections/pull/42

[2019-02-20 22:28] #328 closed

[2019-02-20 22:38] SethTisue commented on #576
done

[2019-02-20 22:38] #576 closed

[2021-12-21 19:34] SethTisue opened #577 "Delete and archive Gitter room"

[2021-12-21 19:35] SethTisue commented on #577
This is done, and here's the message archive, for posterity:
[collection-strawman-messages-2021-12-17.ndjson.zip](https://github.com/scala/collection-strawman/files/7757713/collection-strawman-messages-2021-12-17.ndjson.zip)

[2021-12-21 19:35] #577 closed, assigned to nobody